11-2-2 sensecube PE-300 local/11-2-3 node red.txt
[{"id":"902ab30a.52d32","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"18f6163c.bc286a","type":"function","z":"902ab30a.52d32","name":"","func":"var ecMsg={};\nvar phMsg={};\nvar teMsg3={};\necMsg.payload=msg.payload.ec;\nphMsg.payload=msg.payload.ph;\nteMsg3.payload=msg.payload.temp;\n\nreturn [ecMsg,phMsg,teMsg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["c16d359d.b77178"],["1ba04b1.6a5c1b5"],["a1790daa.9d005"]]},{"id":"c16d359d.b77178","type":"ui_text","z":"902ab30a.52d32","group":"5f4568ac.3e1278","order":1,"width":0,"height":0,"name":"EC","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":180,"wires":[]},{"id":"1ba04b1.6a5c1b5","type":"ui_gauge","z":"902ab30a.52d32","name":"PH","group":"5f4568ac.3e1278","order":2,"width":0,"height":0,"gtype":"gage","title":"PH","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":220,"wires":[]},{"id":"a1790daa.9d005","type":"ui_chart","z":"902ab30a.52d32","name":"온도","group":"5f4568ac.3e1278","order":3,"width":0,"height":0,"label":"온도","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":260,"wires":[[]]},{"id":"5de183b4.3202bc","type":"mqtt out","z":"902ab30a.52d32","name":"","topic":"/i2r/inTopic","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"de898dcb.9c44d","x":330,"y":60,"wires":[]},{"id":"30397cc.be61184","type":"mqtt in","z":"902ab30a.52d32","name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"de898dcb.9c44d","nl":false,"rap":true,"rh":0,"x":120,"y":140,"wires":[["28f4ae35.3b6652","549b3be4.423664"]]},{"id":"31c50d14.566232","type":"inject","z":"902ab30a.52d32","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"테스트 메세지","payloadType":"str","x":150,"y":60,"wires":[["5de183b4.3202bc"]]},{"id":"28f4ae35.3b6652","type":"debug","z":"902ab30a.52d32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":140,"wires":[]},{"id":"549b3be4.423664","type":"json","z":"902ab30a.52d32","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["18f6163c.bc286a"]]},{"id":"5f4568ac.3e1278","type":"ui_group","name":"토마토","tab":"baf5e69.0c21c18","order":1,"disp":true,"width":"6","collapse":false},{"id":"de898dcb.9c44d","type":"mqtt-broker","name":"","broker":"192.168.0.3","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"baf5e69.0c21c18","type":"ui_tab","name":"스마트팜","icon":"dashboard","order":1,"disabled":false,"hidden":false}]