11-4-2 [sensecube] KSM-8900 aws/11-4-2 node red.txt
[{"id":"528edef5.0a4da","type":"mqtt in","z":"4203b51e.28f1ac","name":"KSM8900-AWS","topic":"/doowon-ksm8900/outTopic","qos":"0","datatype":"auto","broker":"a615b803.0b6518","nl":false,"rap":true,"rh":0,"x":140,"y":140,"wires":[["3d2fc25c.0813fe","ae785ad9.6c3588"]]},{"id":"3d2fc25c.0813fe","type":"debug","z":"4203b51e.28f1ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":140,"wires":[]},{"id":"ae785ad9.6c3588","type":"json","z":"4203b51e.28f1ac","name":"","property":"payload","action":"","pretty":false,"x":420,"y":200,"wires":[["23255839.e1f738"]]},{"id":"fc16bda5.b9937","type":"mqtt out","z":"4203b51e.28f1ac","name":"KSM8900-AWS","topic":"/doowon-ksm8900/inTopic","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a615b803.0b6518","x":360,"y":80,"wires":[]},{"id":"dca0071d.c0f2c8","type":"inject","z":"4203b51e.28f1ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"테스트","payloadType":"str","x":160,"y":80,"wires":[["fc16bda5.b9937"]]},{"id":"23255839.e1f738","type":"function","z":"4203b51e.28f1ac","name":"","func":"var moMsg={};\nvar temMsg={};\nvar ecMsg3={};\n\nmoMsg.payload=msg.payload.mo;\ntemMsg.payload=msg.payload.tem;\necMsg3.payload=msg.payload.ec;\n\nreturn [moMsg,temMsg,ecMsg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[["e206d79c.532848"],["21375998.f0b5d6"],["f390e3a.333dd2"]]},{"id":"f390e3a.333dd2","type":"ui_gauge","z":"4203b51e.28f1ac","name":"EC","group":"30584558.b1941a","order":2,"width":"3","height":"3","gtype":"compass","title":"토양EC","label":"dS/m","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"600","seg2":"800","x":770,"y":240,"wires":[]},{"id":"e206d79c.532848","type":"ui_gauge","z":"4203b51e.28f1ac","name":"","group":"30584558.b1941a","order":0,"width":"3","height":"3","gtype":"donut","title":"수분","label":"%VWC","format":"{{value}}","min":"0","max":"50","colors":["#50e2e0","#4bf00f","#ca3838"],"seg1":"20","seg2":"35","x":770,"y":160,"wires":[]},{"id":"21375998.f0b5d6","type":"ui_gauge","z":"4203b51e.28f1ac","name":"","group":"30584558.b1941a","order":1,"width":"3","height":"3","gtype":"donut","title":"온도","label":"℃","format":"{{value}}","min":"-40","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":770,"y":200,"wires":[]},{"id":"a615b803.0b6518","type":"mqtt-broker","name":"","broker":"a1uh55iuflfli7-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"6aa311ec.a3f96","clientid":"","usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"30584558.b1941a","type":"ui_group","name":"KSM-8900","tab":"1bf78d5b.106443","order":1,"disp":true,"width":"6","collapse":false},{"id":"6aa311ec.a3f96","type":"tls-config","name":"3Phase","cert":"","key":"","ca":"","certname":"94191b3ef7-certificate.pem.crt","keyname":"94191b3ef7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"1bf78d5b.106443","type":"ui_tab","name":"센서","icon":"dashboard","order":3,"disabled":false,"hidden":false}]