11-6 PLC XEC-DR14E local/11-6 node red.txt
[{"id":"377856fa.64711a","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"9aae9ea2.18832"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"9aae9ea2.18832","port":0}]},{"x":455,"y":259,"wires":[{"id":"9aae9ea2.18832","port":1}]}]},{"id":"9aae9ea2.18832","type":"function","z":"377856fa.64711a","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"579f42e3.deb01c","type":"udp in","z":"4a2dbc65.e0f874","name":"","iface":"","port":"4210","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":260,"y":880,"wires":[["fd12ac0e.3f45c"]]},{"id":"8d4f89f4.d10d68","type":"debug","z":"4a2dbc65.e0f874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":880,"wires":[]},{"id":"ff89b5.5d604648","type":"mqtt in","z":"4a2dbc65.e0f874","name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"6fba898.669a578","nl":false,"rap":true,"rh":0,"x":270,"y":960,"wires":[["bd89c82d.046468"]]},{"id":"92b0103e.6dfd3","type":"subflow:377856fa.64711a","z":"4a2dbc65.e0f874","name":"Iterate","env":[],"x":870,"y":680,"wires":[["7f8a3839.8b2568","51618987.0b5088"],[]]},{"id":"51618987.0b5088","type":"function","z":"4a2dbc65.e0f874","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":868,"y":620,"wires":[["92b0103e.6dfd3"]]},{"id":"326ed7e4.4bf068","type":"udp out","z":"4a2dbc65.e0f874","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1334,"y":676,"wires":[]},{"id":"7f8a3839.8b2568","type":"function","z":"4a2dbc65.e0f874","name":"","func":"var server=msg.server;\nvar newMsg={};\nnewMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\nnewMsg.ip=msg.payload;\nnewMsg.port=4210;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1041,"y":678,"wires":[["9390bbbd.555458"]]},{"id":"9390bbbd.555458","type":"change","z":"4a2dbc65.e0f874","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195,"y":677,"wires":[["326ed7e4.4bf068"]]},{"id":"a0736c99.32bef","type":"function","z":"4a2dbc65.e0f874","name":"","func":"var ipList=[];\nvar server=msg.payload.internalIPv4;\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nfor(var i=0;i<255;i++)\n    ipList.push(ip+i);\nmsg.payload=ipList;\nreturn msg;\n\n\n/*\nvar newMsg={};\nfor(var i=0;i<5;i++) {\n    newMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\n    newMsg.port=4210;\n    newMsg.ip=ip+i;\n    //ipList.push(ip+i);\n    ipList.push(newMsg);\n}\nmsg.payload=ipList;\nreturn msg;\n*/\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":680,"wires":[["92b0103e.6dfd3"]]},{"id":"e35a77a1.901838","type":"function","z":"4a2dbc65.e0f874","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac, 'type':msg.payload.type};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":960,"wires":[["fab77173.41e05"]]},{"id":"fab77173.41e05","type":"mongodb2 in","z":"4a2dbc65.e0f874","service":"_ext_","configNode":"20ffdece.3506e2","name":"기기 검색","collection":"","operation":"","x":700,"y":960,"wires":[["1239d018.977a4"]]},{"id":"1239d018.977a4","type":"switch","z":"4a2dbc65.e0f874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":960,"wires":[["61f8f713.8a4b68"],["7d632d94.a62954"]]},{"id":"61f8f713.8a4b68","type":"function","z":"4a2dbc65.e0f874","name":"insert one","func":"var msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : msg.payload.email,'type':msg.payload.type,'mac':msg.payload.mac,'ip':msg.payload.ip, 'name':''};\nnewMsg.payload.mac = msg.payload.mac;\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":972,"y":947,"wires":[["d68a474a.c02918"]]},{"id":"d68a474a.c02918","type":"mongodb2 in","z":"4a2dbc65.e0f874","service":"_ext_","configNode":"20ffdece.3506e2","name":"등록","collection":"","operation":"","x":1150,"y":948,"wires":[[]]},{"id":"7d632d94.a62954","type":"function","z":"4a2dbc65.e0f874","name":"findOneUpdate","func":"var time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\n\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nif(msg.payload.type==2)\n    newMsg.payload = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'ec':msg.payload.ec, 'ph':msg.payload.ph, 'temp':msg.payload.temp, 'time':time}} ];\nelse if(msg.payload.type==6)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'in.0':msg.payload.in.charAt(0), 'in.1':msg.payload.in.charAt(1)\n    , 'in.2':msg.payload.in.charAt(2), 'in.3':msg.payload.in.charAt(3), 'in.4':msg.payload.in.charAt(4), 'in.5':msg.payload.in.charAt(5)\n    , 'in.6':msg.payload.in.charAt(6), 'in.7':msg.payload.in.charAt(7), 'time':time\n     }} ];\n\n\n\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\n\n//newMsg.payload=String(msg.payload.in).charAt(0);\n//newMsg.payload=msg.payload.in.charAt(0);\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1000,"wires":[["d68a474a.c02918"]]},{"id":"bd89c82d.046468","type":"json","z":"4a2dbc65.e0f874","name":"","property":"payload","action":"","pretty":false,"x":417,"y":960,"wires":[["e35a77a1.901838"]]},{"id":"4785350f.97dc9c","type":"ip","z":"4a2dbc65.e0f874","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":570,"y":680,"wires":[["a0736c99.32bef"]]},{"id":"fd12ac0e.3f45c","type":"string","z":"4a2dbc65.e0f874","name":"","prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":410,"y":880,"wires":[["8d4f89f4.d10d68"]]},{"id":"b84a2893.7277f8","type":"http in","z":"4a2dbc65.e0f874","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["7cef0796.29cd58"]]},{"id":"a40124b7.3be5e8","type":"template","z":"4a2dbc65.e0f874","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {\n    background: #eab0dc;\n    font-family: Arial, Helvetica, sans-serif;\n}\ntable, th, td {\n    padding: 2px;\n    border-collapse: collapse;\n    border: 1px solid #dddddd;\n}\n\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 150px;\n  padding: 5px 10px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n}\n\n.buttonMenu {\n          padding: 5px 24px;\n          margin-left:20%;\n          background-color:black;\n          border: none;\n          border-color:black;\n          color:white;\n          text-align: left;\n          text-decoration: none;\n          display: inline-block;\n          font-size: 16px;\n          margin: 4px 2px;\n          cursor: pointer;\n        }\n        .sidenav {\n          height: 100%;\n          width: 0;\n          position: fixed;\n          z-index: 1;\n          top: 0;\n          left: 0;\n          background-color: #111;\n          overflow-x: hidden;\n          transition: 0.5s;\n          padding-top: 60px;\n        }\n        .sidenav a {\n          padding: 8px 8px 8px 32px;\n          text-decoration: none;\n          font-size: 18px;\n          color: #818181;\n          display: block;\n                transition: 0.3s;\n        }\n        .sidenav a:hover {\n          color: #f1f1f1;\n        }\n        .sidenav .closebtn {\n          position: absolute;\n          top: 0;\n          right: 25px;\n          font-size: 36px;\n          margin-left: 50px;\n        }\n\n.buttonM {background-color: #ff66cc;color:white; width:100px; height:20px; padding: 0px 0px; font-size: 16px} /* 기기선택 */  \n.buttonL {background-color: #ff66cc;color:white; width:100px; height:25px; padding: 0px 0px; font-size: 16px} /* 선택 */  \n.buttonMenu {background-color: #000000;} \n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.button-on {background-color:Lime; color:blue; width:20%;} \n.button-off {background-color:LightGrey; color:white; width:20%;} \n.button-ledon {border-radius: 100%; padding: 10px; font-size: 8px; margin: 0px 0px; background-color: #ff4500;}\n.button-ledoff {border-radius: 100%; padding: 10px; font-size: 8px; background-color: #707070;}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":690,"y":160,"wires":[["4439f064.e1478"]]},{"id":"20a63e7a.b9d262","type":"template","z":"4a2dbc65.e0f874","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n        \n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n\nfunction openNav() {\n  document.getElementById(\"mySidenav\").style.width = \"150px\"; \n}\nfunction closeNav() {\n  document.getElementById(\"mySidenav\").style.width = \"0\";\n}","output":"str","x":565,"y":160,"wires":[["a40124b7.3be5e8"]]},{"id":"568d35a4.fe4d2c","type":"function","z":"4a2dbc65.e0f874","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nglobal.set(\"menu\",msg.payload.menu);\nglobal.set(\"msg_main\",msg);\n/*\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = {  };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":961,"y":160,"wires":[["36cf1e36.53da82"]]},{"id":"4439f064.e1478","type":"template","z":"4a2dbc65.e0f874","name":"menu","field":"payload.menu","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div id='mySidenav' class='sidenav'>\n  <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>\n  <a href='/display?act=3'>홈</a>\n  <a href='/display?act=2'>환경설정</a>\n  <a href='/display?act=4'>메뉴얼</a>\n  <a href='http://i2r.link' target='_blank'>김동일홈피</a>\n  </div>\n  <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776; </span>\n    메뉴<br>  ","x":810,"y":160,"wires":[["568d35a4.fe4d2c"]]},{"id":"f6f43dc8.8aee4","type":"function","z":"4a2dbc65.e0f874","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nmsg.collection = 'localRecord';\nmsg.operation  =  'find.toArray';\nmsg.payload    = { };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["12ca9f40.fb4cc1"]]},{"id":"12ca9f40.fb4cc1","type":"mongodb2 in","z":"4a2dbc65.e0f874","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"local","collection":"","operation":"","x":890,"y":360,"wires":[["293e77f2.108518"]]},{"id":"49151d5b.0e8674","type":"http response","z":"4a2dbc65.e0f874","name":"","statusCode":"","headers":{},"x":1510,"y":360,"wires":[]},{"id":"bb97b3c0.d4a09","type":"function","z":"4a2dbc65.e0f874","name":"0,1,2,3 List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nvar i;\nvar s;\nvar r;\nsOut=\"<table>\"\nsOut+=\"<tr>   <th>모델</th>  <th>센서 값</th> <th>이름</th> <th>IP</th> </tr>\"\nfor(i=0;i<msg.payload.length;i++) {\n    //r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    s=\"\";\n    if(msg.payload[i].type==2) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>PE-300</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>ec:\"+msg.payload[i].ec+\"  ph:\"+msg.payload[i].ph+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    if(msg.payload[i].type==6) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>PE-300</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>\"\n            for(var j=0;j<8;j++) {\n                if(msg.payload[i].in[j]==1) \n                    s+=\"<button class='button button-ledon'>\"+j+\"</button>&nbsp;\";\n                else\n                    s+=\"<button class='button button-ledoff'>\"+j+\"</button>&nbsp;\";\n            }\n\n        s+=\"</td>\";\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    s+=\"<td><a href='http://\"+msg.payload[i].ip+\"' target='_blank'>\"+msg.payload[i].ip+\"</a></td>\";\n    s+=\"</tr>\"\n    \n    sOut=sOut+s+\"<br>\";\n} \n\nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":360,"wires":[["6a354d32.050034"]]},{"id":"6a354d32.050034","type":"template","z":"4a2dbc65.e0f874","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta http-equiv='refresh' content='10'/>\n<style> {{{payload.style}}} </style>\n<script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    {{{payload.list}}}\n</body>\n</html>","output":"str","x":1360,"y":360,"wires":[["49151d5b.0e8674"]]},{"id":"293e77f2.108518","type":"function","z":"4a2dbc65.e0f874","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[["bb97b3c0.d4a09"]]},{"id":"eed87d5b.b7f3a","type":"http in","z":"4a2dbc65.e0f874","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["22329151.d1527e"]]},{"id":"f7fb992.2422268","type":"comment","z":"4a2dbc65.e0f874","name":"Display","info":"1: 선택한 기기 config\n2: 메뉴의 환경설정\n3: main  기기 리스트 모니터링\n4: 메뉴얼","x":94,"y":280,"wires":[]},{"id":"5463336c.34abac","type":"function","z":"4a2dbc65.e0f874","name":"get global","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nmsg.payload.act=global.get(\"act\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":260,"wires":[["227d4ef3.a155d2"]]},{"id":"227d4ef3.a155d2","type":"template","z":"4a2dbc65.e0f874","name":"html 기기 name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n   <br> &emsp;\n   <table>\n      <tr>\n        <th>모델번호</th> <th>PE-300</th>\n      </tr>\n      <tr>\n        <th>mac</th> <th>{{{payload.mac}}}</th>\n      </tr>\n      <tr>\n        <th>접속IP</th> <th>{{{payload.ip}}}</th>\n      </tr>\n      <tr>\n        <th>이름</th> \n            <form action=\"/save\" method=\"post\">\n                <input type='hidden' name='mac' value='{{{payload.mac}}}'>\n                <input type='hidden' name='act' value='1'>\n                <th><input type=\"text\" id=\"name\" name=\"name\" value=\"{{{payload.name}}}\"></th>\n                <th><button class='button buttonL' type=\"submit\" style=\"width:50px;\" >저장</button></th>\n            </form> \n      </tr>\n    </table>\n    \n    테스트 입니다.\n</body>\n</html>\n","output":"str","x":1360,"y":260,"wires":[["543605e8.4b106c"]]},{"id":"7984e61f.bbbc18","type":"function","z":"4a2dbc65.e0f874","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":260,"wires":[["de7d130b.2aaef"]]},{"id":"de7d130b.2aaef","type":"mongodb2 in","z":"4a2dbc65.e0f874","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"기기 검색","collection":"","operation":"","x":910,"y":260,"wires":[["d130334e.9809b"]]},{"id":"543605e8.4b106c","type":"http response","z":"4a2dbc65.e0f874","name":"","statusCode":"","headers":{},"x":1530,"y":260,"wires":[]},{"id":"22329151.d1527e","type":"function","z":"4a2dbc65.e0f874","name":"","func":"global.set(\"msg_display\",msg);\nglobal.set(\"act\",msg.payload.act);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["5adae954.558b08"]]},{"id":"d130334e.9809b","type":"function","z":"4a2dbc65.e0f874","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_display\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":260,"wires":[["5463336c.34abac"]]},{"id":"5adae954.558b08","type":"switch","z":"4a2dbc65.e0f874","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":280,"wires":[["7984e61f.bbbc18"],["a5ec1979.f79238"],["f6f43dc8.8aee4"],["db859ae1.afcd08"]]},{"id":"20285358.6570fc","type":"http in","z":"4a2dbc65.e0f874","name":"","url":"/save","method":"post","upload":false,"swaggerDoc":"","x":270,"y":520,"wires":[["1b3dbf2b.a9d1b1"]]},{"id":"7269ee11.c468d","type":"comment","z":"4a2dbc65.e0f874","name":"Save","info":"1: name 저장\n","x":94,"y":520,"wires":[]},{"id":"34b552ce.b4d80e","type":"function","z":"4a2dbc65.e0f874","name":"findOneUpdate","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac}, {$set:{ 'name':msg.payload.name}} ];\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":500,"wires":[["abc675da.8a0e48"]]},{"id":"abc675da.8a0e48","type":"mongodb2 in","z":"4a2dbc65.e0f874","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록 name","collection":"","operation":"","x":750,"y":500,"wires":[["f4b2144b.3e1388"]]},{"id":"7aed6bcb.c11924","type":"link out","z":"4a2dbc65.e0f874","name":"","links":["67018b9f.11dc44","2044220.61e99de"],"x":995,"y":500,"wires":[]},{"id":"f4b2144b.3e1388","type":"function","z":"4a2dbc65.e0f874","name":"msg 받음","func":"var msg=global.get(\"msg_in\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":500,"wires":[["7aed6bcb.c11924"]]},{"id":"1b3dbf2b.a9d1b1","type":"switch","z":"4a2dbc65.e0f874","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":520,"wires":[["34b552ce.b4d80e"],[],[]]},{"id":"e3366619.903f08","type":"template","z":"4a2dbc65.e0f874","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://{{payload.internalIPv4}}:1880/display?act=3' method='get'> \n    </head>\n    <body>\n       </body>\n</html","output":"str","x":1490,"y":160,"wires":[["4b0bd766.b5d8f8"]]},{"id":"4b0bd766.b5d8f8","type":"http response","z":"4a2dbc65.e0f874","name":"Go Main Page","statusCode":"","headers":{},"x":1642,"y":160,"wires":[]},{"id":"67018b9f.11dc44","type":"link in","z":"4a2dbc65.e0f874","name":"Main","links":["6457ed09.277674","1f045d85.6a9eb2","250eafef.fdf1f","68a5f2a5.f5958c","d1b3b938.5fd1b8","425e599b.c1d808","174175dc.9ef7ea","36cf1e36.53da82","7aed6bcb.c11924"],"x":1259,"y":160,"wires":[["f1484b4b.ad21c8"]]},{"id":"36cf1e36.53da82","type":"link out","z":"4a2dbc65.e0f874","name":"","links":["67018b9f.11dc44"],"x":1075,"y":160,"wires":[]},{"id":"2fedb4fd.1625bc","type":"template","z":"4a2dbc65.e0f874","name":"html 환경설정","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    환경설정 <br>\n    센서와 기기를 서버에 연결하려면 아래 버튼을 누르세요\n    <form action=\"/act\" method=\"post\">\n        <input type='hidden' name='act' value='1'>\n        <div class=\"container\">\n            <br> &emsp;\n            <button class='button buttonL' type=\"submit\" style=\"width:auto;\">- mqtt 통신연결 -</button>\n        </div>\n    </form>\n\n</body>\n</html>\n","output":"str","x":940,"y":320,"wires":[["8ae5f602.3d5758"]]},{"id":"a5ec1979.f79238","type":"function","z":"4a2dbc65.e0f874","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[["2fedb4fd.1625bc"]]},{"id":"8ae5f602.3d5758","type":"http response","z":"4a2dbc65.e0f874","name":"","statusCode":"","headers":{},"x":1107,"y":320,"wires":[]},{"id":"21a5901e.372bf","type":"template","z":"4a2dbc65.e0f874","name":"html 메뉴얼","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    메뉴얼\n\n</body>\n</html>\n","output":"str","x":890,"y":420,"wires":[["330cb393.267bdc"]]},{"id":"db859ae1.afcd08","type":"function","z":"4a2dbc65.e0f874","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":420,"wires":[["21a5901e.372bf"]]},{"id":"330cb393.267bdc","type":"http response","z":"4a2dbc65.e0f874","name":"","statusCode":"","headers":{},"x":1067,"y":420,"wires":[]},{"id":"b503e8bb.606718","type":"comment","z":"4a2dbc65.e0f874","name":"Act","info":"1: \n","x":90,"y":680,"wires":[]},{"id":"9800143c.861858","type":"http in","z":"4a2dbc65.e0f874","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":260,"y":680,"wires":[["beebd928.117a28"]]},{"id":"beebd928.117a28","type":"switch","z":"4a2dbc65.e0f874","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":680,"wires":[["4785350f.97dc9c"],[],[]]},{"id":"3b760a3c.0032e6","type":"udp out","z":"4a2dbc65.e0f874","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":750,"y":800,"wires":[]},{"id":"e94200d9.d5e","type":"function","z":"4a2dbc65.e0f874","name":"","func":"msg.payload=\"{\\\"mqttIp\\\":\\\"172.30.1.2\\\"}\";\nmsg.ip=\"172.30.1.3\";\nmsg.port=4210;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":800,"wires":[["dd90d61f.6bdad8"]]},{"id":"dd90d61f.6bdad8","type":"change","z":"4a2dbc65.e0f874","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":800,"wires":[["3b760a3c.0032e6"]]},{"id":"6bacd4bf.90836c","type":"inject","z":"4a2dbc65.e0f874","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"str","x":270,"y":800,"wires":[["e94200d9.d5e"]]},{"id":"7cef0796.29cd58","type":"ip","z":"4a2dbc65.e0f874","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":270,"y":160,"wires":[["9e11db13.05f528"]]},{"id":"9e11db13.05f528","type":"function","z":"4a2dbc65.e0f874","name":"","func":"var server=msg.payload.internalIPv4;\nglobal.set(\"serverIp\",server);\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\nmsg.server=server;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["20a63e7a.b9d262"]]},{"id":"f1484b4b.ad21c8","type":"function","z":"4a2dbc65.e0f874","name":"","func":"var serverIp=global.get(\"serverIp\");\nmsg.payload.internalIPv4=serverIp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":160,"wires":[["e3366619.903f08"]]},{"id":"6fba898.669a578","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"20ffdece.3506e2","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"8364b0aa.ebd7e","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"509a45a9.089bbc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"94191b3ef7-certificate.pem.crt","keyname":"94191b3ef7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true}]