11-1-4 Node-red Local Server/node-red.txt
[{"id":"1f2a573c.c32829","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"ac53131e.f36b4"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"ac53131e.f36b4","port":0}]},{"x":455,"y":259,"wires":[{"id":"ac53131e.f36b4","port":1}]}]},{"id":"ac53131e.f36b4","type":"function","z":"1f2a573c.c32829","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"505e0723.e3d6e8","type":"tab","label":"플로우 3","disabled":false,"info":""},{"id":"f4fc33eb.10d38","type":"mqtt in","z":"505e0723.e3d6e8","d":true,"name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"8806966c.ceae18","nl":false,"rap":true,"rh":0,"x":150,"y":120,"wires":[["b5ca2941.018538"]]},{"id":"32fdbcaf.a924e4","type":"subflow:1f2a573c.c32829","z":"505e0723.e3d6e8","name":"Iterate","env":[],"x":910,"y":720,"wires":[["ef185039.f8025","5e72ff31.87b3f"],[]]},{"id":"5e72ff31.87b3f","type":"function","z":"505e0723.e3d6e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":908,"y":660,"wires":[["32fdbcaf.a924e4"]]},{"id":"ad995b82.7ec338","type":"udp out","z":"505e0723.e3d6e8","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1374,"y":716,"wires":[]},{"id":"ef185039.f8025","type":"function","z":"505e0723.e3d6e8","name":"","func":"var server=msg.server;\nvar newMsg={};\nnewMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\nnewMsg.ip=msg.payload;\nnewMsg.port=4210;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1081,"y":718,"wires":[["be9ff3f8.7f128"]]},{"id":"be9ff3f8.7f128","type":"change","z":"505e0723.e3d6e8","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1235,"y":717,"wires":[["ad995b82.7ec338"]]},{"id":"79406a52.168284","type":"function","z":"505e0723.e3d6e8","name":"","func":"var ipList=[];\nvar server=msg.payload.internalIPv4;\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nfor(var i=0;i<255;i++)\n    ipList.push(ip+i);\nmsg.payload=ipList;\nreturn msg;\n\n\n/*\nvar newMsg={};\nfor(var i=0;i<5;i++) {\n    newMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\n    newMsg.port=4210;\n    newMsg.ip=ip+i;\n    //ipList.push(ip+i);\n    ipList.push(newMsg);\n}\nmsg.payload=ipList;\nreturn msg;\n*/\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":720,"wires":[["32fdbcaf.a924e4"]]},{"id":"6f691951.fe5cf8","type":"function","z":"505e0723.e3d6e8","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac, 'type':msg.payload.type};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["4ed7dab2.ae6d94"]]},{"id":"4ed7dab2.ae6d94","type":"mongodb2 in","z":"505e0723.e3d6e8","service":"_ext_","configNode":"6125955a.e07dac","name":"기기 검색","collection":"","operation":"","x":580,"y":120,"wires":[["4e9ee2de.f1c4fc"]]},{"id":"4e9ee2de.f1c4fc","type":"switch","z":"505e0723.e3d6e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":120,"wires":[["b702e16e.e0af8"],["fb82d81e.dd65f8"]]},{"id":"b702e16e.e0af8","type":"function","z":"505e0723.e3d6e8","name":"insert one","func":"var msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : msg.payload.email,'type':msg.payload.type,'mac':msg.payload.mac,'ip':msg.payload.ip, 'name':''};\nif(msg.payload.type==2) {\n    newMsg.payload.ec=msg.payload.ec;\n    newMsg.payload.ph=msg.payload.ph;\n    newMsg.payload.temp=msg.payload.temp;\n}\nif(msg.payload.type==4) {\n    newMsg.payload.mo=msg.payload.mo;\n    newMsg.payload.tem=msg.payload.tem;\n    newMsg.payload.ec=msg.payload.ec;\n}\nif(msg.payload.type==5) {\n    newMsg.payload.RH=msg.payload.RH;\n    newMsg.payload.TEMP=msg.payload.TEMP;\n}\n    \nnewMsg.payload.mac = msg.payload.mac;\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":852,"y":107,"wires":[["41f79f71.95c8a"]]},{"id":"41f79f71.95c8a","type":"mongodb2 in","z":"505e0723.e3d6e8","service":"_ext_","configNode":"6125955a.e07dac","name":"등록","collection":"","operation":"","x":1030,"y":100,"wires":[[]]},{"id":"fb82d81e.dd65f8","type":"function","z":"505e0723.e3d6e8","name":"findOneUpdate","func":"var time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nif(msg.payload.type==2)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'ec':msg.payload.ec, 'ph':msg.payload.ph, 'temp':msg.payload.temp, 'time':time}} ];\nelse if(msg.payload.type==4)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'mo':msg.payload.mo, 'tem':msg.payload.tem, 'ec':msg.payload.ec, 'time':time}} ];\nelse if(msg.payload.type==5)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'RH':msg.payload.RH, 'TEMP':msg.payload.TEMP, 'time':time}} ];    \nelse if(msg.payload.type==6)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'in':msg.payload.in, 'time':time}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":160,"wires":[["41f79f71.95c8a"]]},{"id":"b5ca2941.018538","type":"json","z":"505e0723.e3d6e8","name":"","property":"payload","action":"","pretty":false,"x":297,"y":120,"wires":[["6f691951.fe5cf8"]]},{"id":"f0b9d57d.f14c78","type":"ip","z":"505e0723.e3d6e8","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":610,"y":720,"wires":[["79406a52.168284"]]},{"id":"135d2ead.4a82f1","type":"http in","z":"505e0723.e3d6e8","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["b052288d.f50038"]]},{"id":"602e9508.340fac","type":"template","z":"505e0723.e3d6e8","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {\n    background: #eab0dc;\n    font-family: Arial, Helvetica, sans-serif;\n}\ntable, th, td {\n    padding: 2px;\n    border-collapse: collapse;\n    border: 1px solid #dddddd;\n}\n\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 150px;\n  padding: 5px 10px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\n.buttonMenu {\n          padding: 5px 24px;\n          margin-left:20%;\n          background-color:black;\n          border: none;\n          border-color:black;\n          color:white;\n          text-align: left;\n          text-decoration: none;\n          display: inline-block;\n          font-size: 16px;\n          margin: 4px 2px;\n          cursor: pointer;\n        }\n        .sidenav {\n          height: 100%;\n          width: 0;\n          position: fixed;\n          z-index: 1;\n          top: 0;\n          left: 0;\n          background-color: #111;\n          overflow-x: hidden;\n          transition: 0.5s;\n          padding-top: 60px;\n        }\n        .sidenav a {\n          padding: 8px 8px 8px 32px;\n          text-decoration: none;\n          font-size: 18px;\n          color: #818181;\n          display: block;\n                transition: 0.3s;\n        }\n        .sidenav a:hover {\n          color: #f1f1f1;\n        }\n        .sidenav .closebtn {\n          position: absolute;\n          top: 0;\n          right: 25px;\n          font-size: 36px;\n          margin-left: 50px;\n        }\n\n.buttonM {background-color: #ff66cc;color:white; width:100px; height:20px; padding: 0px 0px; font-size: 16px} /* 기기선택 */  \n.buttonL {background-color: #ff66cc;color:white; width:100px; height:25px; padding: 0px 0px; font-size: 16px} /* 선택 */  \n.buttonMenu {background-color: #000000;} \n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.buttonOn {background-color:Lime; color:blue; width:20%;} \n.buttonOff {background-color:LightGrey; color:white; width:20%;} \n.buttonLedon {background-color:OrangeRed; color:blue; width:10%;} \n.buttonLedoff {background-color:LightGrey; color:white; width:10%;} \n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":730,"y":220,"wires":[["ea067367.1e635"]]},{"id":"fc5cbd1e.62216","type":"template","z":"505e0723.e3d6e8","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n        \n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n\nfunction openNav() {\n  document.getElementById(\"mySidenav\").style.width = \"150px\"; \n}\nfunction closeNav() {\n  document.getElementById(\"mySidenav\").style.width = \"0\";\n}","output":"str","x":605,"y":220,"wires":[["602e9508.340fac"]]},{"id":"a5ded673.b381f8","type":"function","z":"505e0723.e3d6e8","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nglobal.set(\"menu\",msg.payload.menu);\nglobal.set(\"msg_main\",msg);\n/*\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = {  };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1001,"y":220,"wires":[["7e786c4e.eba144"]]},{"id":"ea067367.1e635","type":"template","z":"505e0723.e3d6e8","name":"menu","field":"payload.menu","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div id='mySidenav' class='sidenav'>\n  <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>\n  <a href='/display?act=3'>홈</a>\n  <a href='/display?act=3'>콘트롤</a>\n  <a href='/display?act=2'>환경설정</a>\n  <a href='/display?act=4'>메뉴얼</a>\n  <a href='http://i2r.link'>김동일홈피</a>\n  </div>\n  <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776; </span>\n    메뉴<br>  ","x":854,"y":220,"wires":[["a5ded673.b381f8"]]},{"id":"da87885.d44c078","type":"function","z":"505e0723.e3d6e8","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nmsg.collection = 'localRecord';\nmsg.operation  =  'find.toArray';\nmsg.payload    = { };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":420,"wires":[["d1d9346d.1cbf78"]]},{"id":"d1d9346d.1cbf78","type":"mongodb2 in","z":"505e0723.e3d6e8","service":"_ext_","configNode":"6125955a.e07dac","name":"local","collection":"","operation":"","x":930,"y":420,"wires":[["3bafc463.62469c"]]},{"id":"7b510b4e.c50244","type":"http response","z":"505e0723.e3d6e8","name":"","statusCode":"","headers":{},"x":1550,"y":420,"wires":[]},{"id":"d341b0f3.c0736","type":"function","z":"505e0723.e3d6e8","name":"0,1,2,3 List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nvar i;\nvar s;\nvar r;\nsOut=\"<table>\"\nsOut+=\"<tr>   <th>모델</th>  <th>센서 값</th> <th>이름</th> </tr>\"\nfor(i=0;i<msg.payload.length;i++) {\n    //r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    s=\"\";\n    if(msg.payload[i].type==2) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>PE-300</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>ec:\"+msg.payload[i].ec+\"  ph:\"+msg.payload[i].ph+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td> </tr>\"\n    }\n else if(msg.payload[i].type==4) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>KSM-8900</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>습도:\"+msg.payload[i].mo+\"  온도:\"+msg.payload[i].tem+\"  EC:\"+msg.payload[i].ec+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td> </tr>\"\n    }\n  else if(msg.payload[i].type==5) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>simpleTH</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n       s+=\"<td>습도:\"+msg.payload[i].RH+\"  온도:\"+msg.payload[i].TEMP+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td> </tr>\"\n    }    \n    sOut=sOut+s+\"<br>\";\n} \n\nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":420,"wires":[["d9a08ae3.872a38"]]},{"id":"d9a08ae3.872a38","type":"template","z":"505e0723.e3d6e8","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta http-equiv='refresh' content='10'/>\n<style> {{{payload.style}}} </style>\n<script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    {{{payload.list}}}\n</body>\n</html>","output":"str","x":1400,"y":420,"wires":[["7b510b4e.c50244"]]},{"id":"3bafc463.62469c","type":"function","z":"505e0723.e3d6e8","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":420,"wires":[["d341b0f3.c0736"]]},{"id":"5a05bb70.bb0434","type":"http in","z":"505e0723.e3d6e8","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":310,"y":340,"wires":[["d2d6cf6.4c36f3"]]},{"id":"fdf1b338.ba082","type":"comment","z":"505e0723.e3d6e8","name":"Display","info":"1: 선택한 기기 config\n2: 메뉴의 환경설정\n3: main  기기 리스트 모니터링\n4: 메뉴얼","x":134,"y":340,"wires":[]},{"id":"e46f3687.526ad8","type":"function","z":"505e0723.e3d6e8","name":"get global","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nmsg.payload.act=global.get(\"act\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":320,"wires":[["1f65ac0e.d6e4d4"]]},{"id":"1f65ac0e.d6e4d4","type":"template","z":"505e0723.e3d6e8","name":"html 기기 name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n   <br> &emsp;\n   <table>\n      <tr>\n        <th>모델번호</th> <th></th>\n      </tr>\n      <tr>\n        <th>mac</th> <th>{{{payload.mac}}}</th>\n      </tr>\n      <tr>\n        <th>접속IP</th> <th>{{{payload.ip}}}</th>\n      </tr>\n      <tr>\n        <th>이름</th> \n            <form action=\"/save\" method=\"post\">\n                <input type='hidden' name='mac' value='{{{payload.mac}}}'>\n                <input type='hidden' name='act' value='1'>\n                <th><input type=\"text\" id=\"name\" name=\"name\" value=\"{{{payload.name}}}\"></th>\n                <th><button class='button buttonL' type=\"submit\" style=\"width:50px;\" >저장</button></th>\n            </form> \n      </tr>\n    </table>\n    \n    테스트 입니다.\n</body>\n</html>\n","output":"str","x":1400,"y":320,"wires":[["8e5a57c5.223d28"]]},{"id":"95d998de.112608","type":"function","z":"505e0723.e3d6e8","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":320,"wires":[["f9dbb2e6.d5aae"]]},{"id":"f9dbb2e6.d5aae","type":"mongodb2 in","z":"505e0723.e3d6e8","service":"_ext_","configNode":"6125955a.e07dac","name":"기기 검색","collection":"","operation":"","x":950,"y":320,"wires":[["d12fcca4.e03c8"]]},{"id":"8e5a57c5.223d28","type":"http response","z":"505e0723.e3d6e8","name":"","statusCode":"","headers":{},"x":1570,"y":320,"wires":[]},{"id":"d2d6cf6.4c36f3","type":"function","z":"505e0723.e3d6e8","name":"","func":"global.set(\"msg_display\",msg);\nglobal.set(\"act\",msg.payload.act);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["b04a2ad8.e17f48"]]},{"id":"d12fcca4.e03c8","type":"function","z":"505e0723.e3d6e8","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_display\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":320,"wires":[["e46f3687.526ad8"]]},{"id":"b04a2ad8.e17f48","type":"switch","z":"505e0723.e3d6e8","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":340,"wires":[["95d998de.112608"],["9268767d.b2aa88"],["da87885.d44c078"],["6ecbeb48.dafa64"]]},{"id":"ae56799e.b90878","type":"http in","z":"505e0723.e3d6e8","name":"","url":"/save","method":"post","upload":false,"swaggerDoc":"","x":310,"y":580,"wires":[["4ccfd5ae.ab850c"]]},{"id":"3f8e0043.e52a4","type":"comment","z":"505e0723.e3d6e8","name":"Save","info":"1: name 저장\n","x":134,"y":580,"wires":[]},{"id":"73c2cdc4.c23724","type":"function","z":"505e0723.e3d6e8","name":"findOneUpdate","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac}, {$set:{ 'name':msg.payload.name}} ];\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":560,"wires":[["91327dbb.6bf98"]]},{"id":"91327dbb.6bf98","type":"mongodb2 in","z":"505e0723.e3d6e8","service":"_ext_","configNode":"6125955a.e07dac","name":"등록 name","collection":"","operation":"","x":770,"y":560,"wires":[["10779e16.f30e22"]]},{"id":"8a442cd1.df97b","type":"link out","z":"505e0723.e3d6e8","name":"","links":["5c841ae7.e39e94","2044220.61e99de"],"x":1015,"y":560,"wires":[]},{"id":"10779e16.f30e22","type":"function","z":"505e0723.e3d6e8","name":"msg 받음","func":"var msg=global.get(\"msg_in\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":560,"wires":[["8a442cd1.df97b"]]},{"id":"4ccfd5ae.ab850c","type":"switch","z":"505e0723.e3d6e8","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":580,"wires":[["73c2cdc4.c23724"],[],[]]},{"id":"2aed4aed.7f70e6","type":"template","z":"505e0723.e3d6e8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://{{payload.internalIPv4}}:1880/display?act=3' method='get'> \n    </head>\n    <body>\n       </body>\n</html","output":"str","x":1390,"y":220,"wires":[["5c956c8.d22bd94"]]},{"id":"5c956c8.d22bd94","type":"http response","z":"505e0723.e3d6e8","name":"Go Main Page","statusCode":"","headers":{},"x":1542,"y":220,"wires":[]},{"id":"5c841ae7.e39e94","type":"link in","z":"505e0723.e3d6e8","name":"Main","links":["6457ed09.277674","1f045d85.6a9eb2","250eafef.fdf1f","68a5f2a5.f5958c","d1b3b938.5fd1b8","425e599b.c1d808","174175dc.9ef7ea","7e786c4e.eba144","8a442cd1.df97b"],"x":1299,"y":220,"wires":[["2aed4aed.7f70e6"]]},{"id":"7e786c4e.eba144","type":"link out","z":"505e0723.e3d6e8","name":"","links":["5c841ae7.e39e94"],"x":1115,"y":220,"wires":[]},{"id":"d2b2c5e0.ca9188","type":"template","z":"505e0723.e3d6e8","name":"html 환경설정","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    환경설정 <br>\n    센서와 기기를 서버에 연결하려면 아래 버튼을 누르세요\n    <form action=\"/act\" method=\"post\">\n        <input type='hidden' name='act' value='1'>\n        <div class=\"container\">\n            <br> &emsp;\n            <button class='button buttonL' type=\"submit\" style=\"width:auto;\">- mqtt 통신연결 -</button>\n        </div>\n    </form>\n\n</body>\n</html>\n","output":"str","x":960,"y":380,"wires":[["9942c3b3.975e"]]},{"id":"9268767d.b2aa88","type":"function","z":"505e0723.e3d6e8","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":380,"wires":[["d2b2c5e0.ca9188"]]},{"id":"9942c3b3.975e","type":"http response","z":"505e0723.e3d6e8","name":"","statusCode":"","headers":{},"x":1127,"y":380,"wires":[]},{"id":"53adaeb1.ba8fe","type":"template","z":"505e0723.e3d6e8","name":"html 메뉴얼","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    메뉴얼\n\n</body>\n</html>\n","output":"str","x":930,"y":480,"wires":[["e8ae0fab.a7fbe"]]},{"id":"6ecbeb48.dafa64","type":"function","z":"505e0723.e3d6e8","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":480,"wires":[["53adaeb1.ba8fe"]]},{"id":"e8ae0fab.a7fbe","type":"http response","z":"505e0723.e3d6e8","name":"","statusCode":"","headers":{},"x":1107,"y":480,"wires":[]},{"id":"4c72b06.4052a5","type":"comment","z":"505e0723.e3d6e8","name":"Act","info":"1: \n","x":130,"y":740,"wires":[]},{"id":"722b493d.120bf8","type":"http in","z":"505e0723.e3d6e8","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":300,"y":740,"wires":[["84abb3e5.0b29b"]]},{"id":"84abb3e5.0b29b","type":"switch","z":"505e0723.e3d6e8","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":740,"wires":[["f0b9d57d.f14c78"],[],[]]},{"id":"b052288d.f50038","type":"ip","z":"505e0723.e3d6e8","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":310,"y":220,"wires":[["de9889d4.e37948"]]},{"id":"de9889d4.e37948","type":"function","z":"505e0723.e3d6e8","name":"","func":"var ipList=[];\nvar server=msg.payload.internalIPv4;\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["fc5cbd1e.62216"]]},{"id":"8806966c.ceae18","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6125955a.e07dac","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local용 mqtt","options":"","parallelism":"-1"},{"id":"509a45a9.089bbc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"ea1ef80b73-certificate.pem.crt","keyname":"ea1ef80b73-private.pem.key","caname":"MtesCA.pem","servername":"","verifyservercert":true}]
