11-1-4 Node-red Local Server/node-red.txt
[{"id":"10a86fdc.efc16","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"8709b651.7ce108"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"8709b651.7ce108","port":0}]},{"x":455,"y":259,"wires":[{"id":"8709b651.7ce108","port":1}]}]},{"id":"8709b651.7ce108","type":"function","z":"10a86fdc.efc16","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"bb42a2ec.15ba6","type":"mqtt in","z":"74220d3f.fd7864","name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"f15d66b3.c7edf8","nl":false,"rap":true,"rh":0,"x":250,"y":620,"wires":[["c0f22d6b.d23c"]]},{"id":"6dc86efc.56886","type":"subflow:10a86fdc.efc16","z":"74220d3f.fd7864","name":"Iterate","env":[],"x":710,"y":540,"wires":[["54cecdc1.3d9cf4","2ec96ff1.58c8"],[]]},{"id":"2ec96ff1.58c8","type":"function","z":"74220d3f.fd7864","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":708,"y":480,"wires":[["6dc86efc.56886"]]},{"id":"9a4ecdb3.058b9","type":"udp out","z":"74220d3f.fd7864","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1174,"y":536,"wires":[]},{"id":"54cecdc1.3d9cf4","type":"function","z":"74220d3f.fd7864","name":"","func":"var server=msg.server;\nvar newMsg={};\nnewMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\nnewMsg.ip=msg.payload;\nnewMsg.port=4210;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":881,"y":538,"wires":[["a306f8a.55e0e08"]]},{"id":"a306f8a.55e0e08","type":"change","z":"74220d3f.fd7864","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1035,"y":537,"wires":[["9a4ecdb3.058b9"]]},{"id":"1fafb083.82cbaf","type":"function","z":"74220d3f.fd7864","name":"","func":"var ipList=[];\nvar server=global.get(\"sever\");\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nfor(var i=2;i<255;i++)\n    ipList.push(ip+i);\nmsg.payload=ipList;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":540,"wires":[["6dc86efc.56886"]]},{"id":"843263c.b1a4ca","type":"function","z":"74220d3f.fd7864","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac, 'type':msg.payload.type};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["5d3ba496.51380c"]]},{"id":"5d3ba496.51380c","type":"mongodb2 in","z":"74220d3f.fd7864","service":"_ext_","configNode":"ff55d734.a9cd28","name":"기기 검색","collection":"","operation":"","x":680,"y":620,"wires":[["af4397f4.c73c48"]]},{"id":"af4397f4.c73c48","type":"switch","z":"74220d3f.fd7864","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":620,"wires":[["675be32a.dff6cc"],["c10ec824.ff0608"]]},{"id":"675be32a.dff6cc","type":"function","z":"74220d3f.fd7864","name":"insert one","func":"var msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = {'type':msg.payload.type,'mac':msg.payload.mac,'ip':msg.payload.ip, 'name':''};\nnewMsg.payload.mac = msg.payload.mac;\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":952,"y":607,"wires":[["b43548f8.a67b18"]]},{"id":"b43548f8.a67b18","type":"mongodb2 in","z":"74220d3f.fd7864","service":"_ext_","configNode":"ff55d734.a9cd28","name":"등록","collection":"","operation":"","x":1130,"y":608,"wires":[[]]},{"id":"c10ec824.ff0608","type":"function","z":"74220d3f.fd7864","name":"findOneUpdate","func":"var time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\n\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nif(msg.payload.type==2)\n    newMsg.payload = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'ec':msg.payload.ec, 'ph':msg.payload.ph, 'temp':msg.payload.temp, 'time':time}} ];\nelse if(msg.payload.type==3)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'humi':msg.payload.humi, 'temp':msg.payload.temp, 'co2':msg.payload.co2, 'time':time}} ];\nelse if(msg.payload.type==4)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'mo':msg.payload.mo, 'tem':msg.payload.tem, 'ec':msg.payload.ec, 'time':time}} ];\nelse if(msg.payload.type==5)\n    newMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'humi':msg.payload.humi, 'temp':msg.payload.temp, 'time':time}} ];\nelse if(msg.payload.type==6)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'in.0':msg.payload.in.charAt(0), 'in.1':msg.payload.in.charAt(1)\n    , 'in.2':msg.payload.in.charAt(2), 'in.3':msg.payload.in.charAt(3), 'in.4':msg.payload.in.charAt(4), 'in.5':msg.payload.in.charAt(5)\n    , 'in.6':msg.payload.in.charAt(6), 'in.7':msg.payload.in.charAt(7), 'time':time\n     }} ];\nelse if(msg.payload.type==7)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'humi':msg.payload.humi\n    , 'temp':msg.payload.temp, 'time':time }} ];\nelse if(msg.payload.type==8)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'humi':msg.payload.humi\n    , 'temp':msg.payload.temp, 'pres':msg.payload.pres, 'time':time }} ];\nelse if(msg.payload.type==9)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'humi':msg.payload.humi\n    , 'temp':msg.payload.temp, 'ec':msg.payload.ec, 'time':time }} ];\n\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":660,"wires":[["b43548f8.a67b18"]]},{"id":"c0f22d6b.d23c","type":"json","z":"74220d3f.fd7864","name":"","property":"payload","action":"","pretty":false,"x":397,"y":620,"wires":[["843263c.b1a4ca"]]},{"id":"8f761d1d.867b1","type":"http in","z":"74220d3f.fd7864","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["da13568a.1290e8"]]},{"id":"7ca09e66.cc734","type":"template","z":"74220d3f.fd7864","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {\n    background: #eab0dc;\n    font-family: Arial, Helvetica, sans-serif;\n}\ntable, th, td {\n    padding: 2px;\n    border-collapse: collapse;\n    border: 1px solid #dddddd;\n}\n\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 150px;\n  padding: 5px 10px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n}\n\n.buttonMenu {\n          padding: 5px 24px;\n          margin-left:20%;\n          background-color:black;\n          border: none;\n          border-color:black;\n          color:white;\n          text-align: left;\n          text-decoration: none;\n          display: inline-block;\n          font-size: 16px;\n          margin: 4px 2px;\n          cursor: pointer;\n        }\n        .sidenav {\n          height: 100%;\n          width: 0;\n          position: fixed;\n          z-index: 1;\n          top: 0;\n          left: 0;\n          background-color: #111;\n          overflow-x: hidden;\n          transition: 0.5s;\n          padding-top: 60px;\n        }\n        .sidenav a {\n          padding: 8px 8px 8px 32px;\n          text-decoration: none;\n          font-size: 18px;\n          color: #818181;\n          display: block;\n                transition: 0.3s;\n        }\n        .sidenav a:hover {\n          color: #f1f1f1;\n        }\n        .sidenav .closebtn {\n          position: absolute;\n          top: 0;\n          right: 25px;\n          font-size: 36px;\n          margin-left: 50px;\n        }\n\n.buttonM {background-color: #ff66cc;color:white; width:100px; height:20px; padding: 0px 0px; font-size: 16px} /* 기기선택 */  \n.buttonL {background-color: #ff66cc;color:white; width:100px; height:25px; padding: 0px 0px; font-size: 16px} /* 선택 */  \n.buttonMenu {background-color: #000000;} \n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.button-on {background-color:Lime; color:blue; width:20%;} \n.button-off {background-color:LightGrey; color:white; width:20%;} \n.button-ledon {border-radius: 100%; padding: 10px; font-size: 8px; margin: 0px 0px; background-color: #ff4500;}\n.button-ledoff {border-radius: 100%; padding: 10px; font-size: 8px; background-color: #707070;}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":650,"y":140,"wires":[["9cea400e.f8757"]]},{"id":"58e7bed.ab7444","type":"template","z":"74220d3f.fd7864","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n        \n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n\nfunction openNav() {\n  document.getElementById(\"mySidenav\").style.width = \"150px\"; \n}\nfunction closeNav() {\n  document.getElementById(\"mySidenav\").style.width = \"0\";\n}","output":"str","x":525,"y":140,"wires":[["7ca09e66.cc734"]]},{"id":"9e2ed9ce.61d2c8","type":"function","z":"74220d3f.fd7864","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nglobal.set(\"menu\",msg.payload.menu);\nglobal.set(\"msg_main\",msg);\n/*\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = {  };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":921,"y":140,"wires":[["9ff5d04e.abcc6"]]},{"id":"9cea400e.f8757","type":"template","z":"74220d3f.fd7864","name":"menu","field":"payload.menu","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div id='mySidenav' class='sidenav'>\n  <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>\n  <a href='/display?act=3'>홈</a>\n  <a href='/display?act=2'>환경설정</a>\n  <a href='/display?act=4'>메뉴얼</a>\n  <a href='http://i2r.link' target='_blank'>김동일홈피</a>\n  </div>\n  <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776; </span>\n    메뉴<br>  ","x":770,"y":140,"wires":[["9e2ed9ce.61d2c8"]]},{"id":"783a1ef6.84d2c","type":"function","z":"74220d3f.fd7864","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nmsg.collection = 'localRecord';\nmsg.operation  =  'find.toArray';\nmsg.payload    = { };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":300,"wires":[["36c6a5a4.f64baa"]]},{"id":"36c6a5a4.f64baa","type":"mongodb2 in","z":"74220d3f.fd7864","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"local","collection":"","operation":"","x":870,"y":300,"wires":[["c8d7408d.2f426"]]},{"id":"ecfccf44.13a9f","type":"http response","z":"74220d3f.fd7864","name":"","statusCode":"","headers":{},"x":1490,"y":300,"wires":[]},{"id":"28e775e6.91fcca","type":"function","z":"74220d3f.fd7864","name":"0,1,2,3 List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nvar i;\nvar s;\nvar r;\nsOut=\"<table>\"\nsOut+=\"<tr>   <th>모델</th>  <th>모니터링</th> <th>이름</th> <th>IP</th> </tr>\"\nfor(i=0;i<msg.payload.length;i++) {\n    //r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    s=\"\";\n    if(msg.payload[i].type==2) {\n        s+=\"<tr><th>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>PE-300</button></a>\";\n        s+=\"</form>\";\n        s+=\"</th>\";\n        s+=\"<td>ec:\"+msg.payload[i].ec+\"  ph:\"+msg.payload[i].ph+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    else if(msg.payload[i].type==3) {\n        s+=\"<tr><th>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>키우미</button></a>\";\n        s+=\"</form>\";\n        s+=\"</th>\";\n        s+=\"<th>습도:\"+msg.payload[i].humi+\"  온도:\"+msg.payload[i].temp+\"  CO2:\"+msg.payload[i].co2+\"</th> \"\n        s+=\"<th>\"+msg.payload[i].name+\"</th>\"\n    }\n    else if(msg.payload[i].type==4) {\n        s+=\"<tr><th>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>KSM-8900</button></a>\";\n        s+=\"</form>\";\n        s+=\"</th>\";\n        s+=\"<th>습도:\"+msg.payload[i].mo+\"  온도:\"+msg.payload[i].tem+\"  EC:\"+msg.payload[i].ec+\"</th> \"\n        s+=\"<th>\"+msg.payload[i].name+\"</th>\"\n    }\n    else if(msg.payload[i].type==5) {\n        s+=\"<tr><th>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>simpleTH</button></a>\";\n        s+=\"</form>\";\n        s+=\"</th>\";\n       s+=\"<th>습도:\"+msg.payload[i].humi+\"  온도:\"+msg.payload[i].temp+\"</th> \"\n        s+=\"<th>\"+msg.payload[i].name+\"</th>\"\n    } \n    else if(msg.payload[i].type==6) {\n        s+=\"<tr><th>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>XEX-DR14E</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>\"\n            for(var j=0;j<8;j++) {\n                if(msg.payload[i].in[j]==1) \n                    s+=\"<button class='button button-ledon'>\"+j+\"</button>&nbsp;\";\n                else\n                    s+=\"<button class='button button-ledoff'>\"+j+\"</button>&nbsp;\";\n            }\n\n        s+=\"</td>\";\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    else if(msg.payload[i].type==7) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>DHT11</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>습도:\"+msg.payload[i].humi+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    else if(msg.payload[i].type==8) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>RY-WS301</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>습도:\"+msg.payload[i].humi+\"%  온도:\"+msg.payload[i].temp+\"도  대기압:\"+msg.payload[i].pres+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n     else if(msg.payload[i].type==9) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>MP-508E</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>함수율:\"+msg.payload[i].humi+\"%  온도:\"+msg.payload[i].temp+\"도  EC:\"+msg.payload[i].ec+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    \n    \n    s+=\"<td><a href='http://\"+msg.payload[i].ip+\"' target='_blank'>\"+msg.payload[i].ip+\"</a></td>\";\n    s+=\"</tr>\"\n    \n    sOut=sOut+s+\"<br>\";\n} \n\nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":300,"wires":[["a64c7ec5.09004"]]},{"id":"a64c7ec5.09004","type":"template","z":"74220d3f.fd7864","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta http-equiv='refresh' content='10'/>\n<style> {{{payload.style}}} </style>\n<script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    {{{payload.list}}}\n</body>\n</html>","output":"str","x":1340,"y":300,"wires":[["ecfccf44.13a9f"]]},{"id":"c8d7408d.2f426","type":"function","z":"74220d3f.fd7864","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":300,"wires":[["28e775e6.91fcca"]]},{"id":"58e8466d.8db668","type":"http in","z":"74220d3f.fd7864","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":250,"y":220,"wires":[["990ea49c.895af8"]]},{"id":"7720bfce.c8c18","type":"comment","z":"74220d3f.fd7864","name":"Display","info":"1: 선택한 기기 config\n2: 메뉴의 환경설정\n3: main  기기 리스트 모니터링\n4: 메뉴얼","x":74,"y":220,"wires":[]},{"id":"ac099107.d6f52","type":"function","z":"74220d3f.fd7864","name":"get global","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nmsg.payload.act=global.get(\"act\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":200,"wires":[["8e2a22aa.78999"]]},{"id":"8e2a22aa.78999","type":"template","z":"74220d3f.fd7864","name":"html 기기 name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n   <br> &emsp;\n   <table>\n         <th>mac</th> <th>{{{payload.mac}}}</th>\n      </tr>\n      <tr>\n        <th>접속IP</th> <th>{{{payload.ip}}}</th>\n      </tr>\n      <tr>\n        <th>이름</th> \n            <form action=\"/save\" method=\"post\">\n                <input type='hidden' name='mac' value='{{{payload.mac}}}'>\n                <input type='hidden' name='act' value='1'>\n                <th><input type=\"text\" id=\"name\" name=\"name\" value=\"{{{payload.name}}}\"></th>\n                <th><button class='button buttonL' type=\"submit\" style=\"width:50px;\" >저장</button></th>\n            </form> \n      </tr>\n    </table>\n\n</body>\n</html>\n","output":"str","x":1340,"y":200,"wires":[["60e65258.849d2c"]]},{"id":"fced1fbd.a08d2","type":"function","z":"74220d3f.fd7864","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":200,"wires":[["b7f9a98a.c561d8"]]},{"id":"b7f9a98a.c561d8","type":"mongodb2 in","z":"74220d3f.fd7864","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"기기 검색","collection":"","operation":"","x":890,"y":200,"wires":[["c1f6dec.e3b072"]]},{"id":"60e65258.849d2c","type":"http response","z":"74220d3f.fd7864","name":"","statusCode":"","headers":{},"x":1510,"y":200,"wires":[]},{"id":"990ea49c.895af8","type":"function","z":"74220d3f.fd7864","name":"","func":"global.set(\"msg_display\",msg);\nglobal.set(\"act\",msg.payload.act);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["91edef02.e95ca"]]},{"id":"c1f6dec.e3b072","type":"function","z":"74220d3f.fd7864","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_display\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":200,"wires":[["ac099107.d6f52"]]},{"id":"91edef02.e95ca","type":"switch","z":"74220d3f.fd7864","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":220,"wires":[["fced1fbd.a08d2"],["b23bdcd.e16742"],["783a1ef6.84d2c"],["48548b19.f4df14"]]},{"id":"8556d614.335ad8","type":"http in","z":"74220d3f.fd7864","name":"","url":"/save","method":"post","upload":false,"swaggerDoc":"","x":250,"y":420,"wires":[["3e48e629.eab9da"]]},{"id":"aa6a4f7d.f88dd","type":"comment","z":"74220d3f.fd7864","name":"Save","info":"1: name 저장\n","x":74,"y":420,"wires":[]},{"id":"8a95954b.c7a188","type":"function","z":"74220d3f.fd7864","name":"findOneUpdate","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac}, {$set:{ 'name':msg.payload.name}} ];\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":420,"wires":[["f71d05af.ce8278"]]},{"id":"f71d05af.ce8278","type":"mongodb2 in","z":"74220d3f.fd7864","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록 name","collection":"","operation":"","x":730,"y":420,"wires":[["8927efbb.f993f"]]},{"id":"a3fb9dbd.426ba","type":"link out","z":"74220d3f.fd7864","name":"","links":["b76f66c6.27cea8","2044220.61e99de"],"x":975,"y":420,"wires":[]},{"id":"8927efbb.f993f","type":"function","z":"74220d3f.fd7864","name":"msg 받음","func":"var msg=global.get(\"msg_in\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":420,"wires":[["a3fb9dbd.426ba"]]},{"id":"3e48e629.eab9da","type":"switch","z":"74220d3f.fd7864","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":420,"wires":[["8a95954b.c7a188"],[],[]]},{"id":"da3f98da.c75648","type":"template","z":"74220d3f.fd7864","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://{{payload.internalIPv4}}:1880/display?act=3' method='get'> \n    </head>\n    <body>\n       </body>\n</html","output":"str","x":1450,"y":140,"wires":[["fbf0bd8.804f44"]]},{"id":"fbf0bd8.804f44","type":"http response","z":"74220d3f.fd7864","name":"Go Main Page","statusCode":"","headers":{},"x":1602,"y":140,"wires":[]},{"id":"b76f66c6.27cea8","type":"link in","z":"74220d3f.fd7864","name":"Main","links":["6457ed09.277674","1f045d85.6a9eb2","250eafef.fdf1f","68a5f2a5.f5958c","d1b3b938.5fd1b8","425e599b.c1d808","174175dc.9ef7ea","9ff5d04e.abcc6","a3fb9dbd.426ba"],"x":1219,"y":140,"wires":[["601326fe.babc38"]]},{"id":"9ff5d04e.abcc6","type":"link out","z":"74220d3f.fd7864","name":"","links":["b76f66c6.27cea8"],"x":1035,"y":140,"wires":[]},{"id":"72a05eb5.03584","type":"template","z":"74220d3f.fd7864","name":"html 환경설정","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    환경설정 <br>\n    센서와 기기를 서버에 연결하려면 아래 버튼을 누르세요\n    <form action=\"/act\" method=\"post\">\n        <input type='hidden' name='act' value='1'>\n        <div class=\"container\">\n            <br> &emsp;\n            <button class='button buttonL' type=\"submit\" style=\"width:auto;\">- mqtt 통신연결 -</button>\n        </div>\n    </form>\n\n</body>\n</html>\n","output":"str","x":920,"y":260,"wires":[["e5bfff38.9281"]]},{"id":"b23bdcd.e16742","type":"function","z":"74220d3f.fd7864","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":260,"wires":[["72a05eb5.03584"]]},{"id":"e5bfff38.9281","type":"http response","z":"74220d3f.fd7864","name":"","statusCode":"","headers":{},"x":1087,"y":260,"wires":[]},{"id":"21758fa0.b1fea","type":"template","z":"74220d3f.fd7864","name":"html 메뉴얼","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    메뉴얼\n\n</body>\n</html>\n","output":"str","x":870,"y":360,"wires":[["b117c3b0.bccfa"]]},{"id":"48548b19.f4df14","type":"function","z":"74220d3f.fd7864","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":360,"wires":[["21758fa0.b1fea"]]},{"id":"b117c3b0.bccfa","type":"http response","z":"74220d3f.fd7864","name":"","statusCode":"","headers":{},"x":1047,"y":360,"wires":[]},{"id":"7202ef17.11b37","type":"comment","z":"74220d3f.fd7864","name":"Act","info":"1: \n","x":70,"y":540,"wires":[]},{"id":"f0163466.16dc68","type":"http in","z":"74220d3f.fd7864","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":240,"y":540,"wires":[["cce6f1e.a91c41"]]},{"id":"cce6f1e.a91c41","type":"switch","z":"74220d3f.fd7864","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":540,"wires":[["1fafb083.82cbaf"],[],[]]},{"id":"13d021de.fc396e","type":"function","z":"74220d3f.fd7864","name":"","func":"var server=msg.payload[1].address;\nglobal.set(\"serverIp\",server);\nmsg.server=server;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":140,"wires":[["58e7bed.ab7444"]]},{"id":"601326fe.babc38","type":"function","z":"74220d3f.fd7864","name":"","func":"var serverIp=global.get(\"serverIp\");\nmsg.payload.internalIPv4=serverIp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":140,"wires":[["da3f98da.c75648"]]},{"id":"c685c699.b618d8","type":"debug","z":"74220d3f.fd7864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":700,"wires":[]},{"id":"da13568a.1290e8","type":"hostip","z":"74220d3f.fd7864","name":"Host IP","x":220,"y":140,"wires":[["13d021de.fc396e"]]},{"id":"563d0597.a3ceec","type":"comment","z":"74220d3f.fd7864","name":"주의사항","info":"통신은 와이파이 하나만 연될되어 있어야 합니다.\n복수개의 랜카드를 사용하면 \nvar server=msg.payload[1].address;\n배열 부분을 수정해 주어야 합니다.\n\nPC에서 사용하다 안드로이드에서는 에러가 발생하여 \"Host IP\" 노드를 사용하여 서버 ip 주소를 가져 옵니다.","x":220,"y":100,"wires":[]},{"id":"f15d66b3.c7edf8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ff55d734.a9cd28","type":"mongodb2","uri":"mongodb://localhost:27000/local","name":"local","options":"","parallelism":"-1"},{"id":"8364b0aa.ebd7e","type":"mongodb2","uri":"mongodb://localhost:27000/local","name":"local","options":"","parallelism":"-1"},{"id":"509a45a9.089bbc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"ea1ef80b73-certificate.pem.crt","keyname":"ea1ef80b73-private.pem.key","caname":"MtesCA.pem","servername":"","verifyservercert":true}]