11-1-4 Node-red Local Server/node-red.txt
[{"id":"10a86fdc.efc16","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"8709b651.7ce108"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"8709b651.7ce108","port":0}]},{"x":455,"y":259,"wires":[{"id":"8709b651.7ce108","port":1}]}]},{"id":"8709b651.7ce108","type":"function","z":"10a86fdc.efc16","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"54ff9587.ebfe6c","type":"mqtt in","z":"c03efeff.392ae","name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"2c571e5c.055fc2","nl":false,"rap":true,"rh":0,"x":110,"y":60,"wires":[["26adb753.3ecc58"]]},{"id":"e968547d.079e18","type":"subflow:10a86fdc.efc16","z":"c03efeff.392ae","name":"Iterate","env":[],"x":870,"y":660,"wires":[["bd06da13.4d24f8","186953e0.18ef1c"],[]]},{"id":"186953e0.18ef1c","type":"function","z":"c03efeff.392ae","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":868,"y":600,"wires":[["e968547d.079e18"]]},{"id":"3dbc95b0.f8040a","type":"udp out","z":"c03efeff.392ae","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1334,"y":656,"wires":[]},{"id":"bd06da13.4d24f8","type":"function","z":"c03efeff.392ae","name":"","func":"var server=msg.server;\nvar newMsg={};\nnewMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\nnewMsg.ip=msg.payload;\nnewMsg.port=4210;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1041,"y":658,"wires":[["3b325577.d582ea"]]},{"id":"3b325577.d582ea","type":"change","z":"c03efeff.392ae","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195,"y":657,"wires":[["3dbc95b0.f8040a"]]},{"id":"5b82d5bc.10b0bc","type":"function","z":"c03efeff.392ae","name":"","func":"var ipList=[];\nvar server=msg.payload.internalIPv4;\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nfor(var i=0;i<255;i++)\n    ipList.push(ip+i);\nmsg.payload=ipList;\nreturn msg;\n\n\n/*\nvar newMsg={};\nfor(var i=0;i<5;i++) {\n    newMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\n    newMsg.port=4210;\n    newMsg.ip=ip+i;\n    //ipList.push(ip+i);\n    ipList.push(newMsg);\n}\nmsg.payload=ipList;\nreturn msg;\n*/\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":660,"wires":[["e968547d.079e18"]]},{"id":"19a661ad.0f0d9e","type":"function","z":"c03efeff.392ae","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac, 'type':msg.payload.type};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["6554e3d2.1f45cc"]]},{"id":"6554e3d2.1f45cc","type":"mongodb2 in","z":"c03efeff.392ae","service":"_ext_","configNode":"83df0a8f.8fa7e8","name":"기기 검색","collection":"","operation":"","x":540,"y":60,"wires":[["5639b056.3fdee"]]},{"id":"5639b056.3fdee","type":"switch","z":"c03efeff.392ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":60,"wires":[["4a46b4f3.0db6ec"],["8da1818c.26197"]]},{"id":"4a46b4f3.0db6ec","type":"function","z":"c03efeff.392ae","name":"insert one","func":"var msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : msg.payload.email,'type':msg.payload.type,'mac':msg.payload.mac,'ip':msg.payload.ip, 'name':''};\nif(msg.payload.type==2) {\n    newMsg.payload.ec=msg.payload.ec;\n    newMsg.payload.ph=msg.payload.ph;\n    newMsg.payload.temp=msg.payload.temp;\n}\n    \nnewMsg.payload.mac = msg.payload.mac;\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":812,"y":47,"wires":[["23ecc3d.814e93c"]]},{"id":"23ecc3d.814e93c","type":"mongodb2 in","z":"c03efeff.392ae","service":"_ext_","configNode":"83df0a8f.8fa7e8","name":"등록","collection":"","operation":"","x":990,"y":48,"wires":[[]]},{"id":"8da1818c.26197","type":"function","z":"c03efeff.392ae","name":"findOneUpdate","func":"var time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'ec':msg.payload.ec, 'ph':msg.payload.ph, 'temp':msg.payload.temp, 'time':time}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":100,"wires":[["23ecc3d.814e93c"]]},{"id":"26adb753.3ecc58","type":"json","z":"c03efeff.392ae","name":"","property":"payload","action":"","pretty":false,"x":257,"y":60,"wires":[["19a661ad.0f0d9e"]]},{"id":"c9896c90.b4601","type":"ip","z":"c03efeff.392ae","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":570,"y":660,"wires":[["5b82d5bc.10b0bc"]]},{"id":"6a57f810.d1fe58","type":"http in","z":"c03efeff.392ae","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["cb9f7748.589328"]]},{"id":"266e1d41.42d862","type":"template","z":"c03efeff.392ae","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {\n    background: #eab0dc;\n    font-family: Arial, Helvetica, sans-serif;\n}\ntable, th, td {\n    padding: 2px;\n    border-collapse: collapse;\n    border: 1px solid #dddddd;\n}\n\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 150px;\n  padding: 5px 10px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\n.buttonMenu {\n          padding: 5px 24px;\n          margin-left:20%;\n          background-color:black;\n          border: none;\n          border-color:black;\n          color:white;\n          text-align: left;\n          text-decoration: none;\n          display: inline-block;\n          font-size: 16px;\n          margin: 4px 2px;\n          cursor: pointer;\n        }\n        .sidenav {\n          height: 100%;\n          width: 0;\n          position: fixed;\n          z-index: 1;\n          top: 0;\n          left: 0;\n          background-color: #111;\n          overflow-x: hidden;\n          transition: 0.5s;\n          padding-top: 60px;\n        }\n        .sidenav a {\n          padding: 8px 8px 8px 32px;\n          text-decoration: none;\n          font-size: 18px;\n          color: #818181;\n          display: block;\n                transition: 0.3s;\n        }\n        .sidenav a:hover {\n          color: #f1f1f1;\n        }\n        .sidenav .closebtn {\n          position: absolute;\n          top: 0;\n          right: 25px;\n          font-size: 36px;\n          margin-left: 50px;\n        }\n\n.buttonM {background-color: #ff66cc;color:white; width:100px; height:20px; padding: 0px 0px; font-size: 16px} /* 기기선택 */  \n.buttonL {background-color: #ff66cc;color:white; width:100px; height:25px; padding: 0px 0px; font-size: 16px} /* 선택 */  \n.buttonMenu {background-color: #000000;} \n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.buttonOn {background-color:Lime; color:blue; width:20%;} \n.buttonOff {background-color:LightGrey; color:white; width:20%;} \n.buttonLedon {background-color:OrangeRed; color:blue; width:10%;} \n.buttonLedoff {background-color:LightGrey; color:white; width:10%;} \n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":690,"y":160,"wires":[["302b00f.c5e78"]]},{"id":"13e09daa.e33fb2","type":"template","z":"c03efeff.392ae","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n        \n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n\nfunction openNav() {\n  document.getElementById(\"mySidenav\").style.width = \"150px\"; \n}\nfunction closeNav() {\n  document.getElementById(\"mySidenav\").style.width = \"0\";\n}","output":"str","x":565,"y":160,"wires":[["266e1d41.42d862"]]},{"id":"8b3059cb.1754b8","type":"function","z":"c03efeff.392ae","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nglobal.set(\"menu\",msg.payload.menu);\nglobal.set(\"msg_main\",msg);\n/*\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = {  };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":961,"y":160,"wires":[["55f345c.57c60bc"]]},{"id":"302b00f.c5e78","type":"template","z":"c03efeff.392ae","name":"menu","field":"payload.menu","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div id='mySidenav' class='sidenav'>\n  <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>\n  <a href='/display?act=3'>홈</a>\n  <a href='/display?act=3'>콘트롤</a>\n  <a href='/display?act=2'>환경설정</a>\n  <a href='/display?act=4'>메뉴얼</a>\n  <a href='http://i2r.link'>김동일홈피</a>\n  </div>\n  <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776; </span>\n    메뉴<br>  ","x":814,"y":160,"wires":[["8b3059cb.1754b8"]]},{"id":"14722be2.763e24","type":"function","z":"c03efeff.392ae","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nmsg.collection = 'localRecord';\nmsg.operation  =  'find.toArray';\nmsg.payload    = { };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["31612651.bd32ba"]]},{"id":"31612651.bd32ba","type":"mongodb2 in","z":"c03efeff.392ae","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"local","collection":"","operation":"","x":890,"y":360,"wires":[["1799ebf9.779944"]]},{"id":"a3bee70d.b83188","type":"http response","z":"c03efeff.392ae","name":"","statusCode":"","headers":{},"x":1510,"y":360,"wires":[]},{"id":"58b02395.86a6ec","type":"function","z":"c03efeff.392ae","name":"0,1,2,3 List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nvar i;\nvar s;\nvar r;\nsOut=\"<table>\"\nsOut+=\"<tr>   <th>모델</th>  <th>센서 값</th> <th>이름</th> </tr>\"\nfor(i=0;i<msg.payload.length;i++) {\n    //r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    s=\"\";\n    if(msg.payload[i].type==2) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>PE-300</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>ec:\"+msg.payload[i].ec+\"  ph:\"+msg.payload[i].ph+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td> </tr>\"\n    }\n    \n    sOut=sOut+s+\"<br>\";\n} \n\nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":360,"wires":[["68b6eb67.73dca4"]]},{"id":"68b6eb67.73dca4","type":"template","z":"c03efeff.392ae","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta http-equiv='refresh' content='10'/>\n<style> {{{payload.style}}} </style>\n<script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    {{{payload.list}}}\n</body>\n</html>","output":"str","x":1360,"y":360,"wires":[["a3bee70d.b83188"]]},{"id":"1799ebf9.779944","type":"function","z":"c03efeff.392ae","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1015,"y":360,"wires":[["58b02395.86a6ec"]]},{"id":"a605761a.73ee38","type":"http in","z":"c03efeff.392ae","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["2c418081.f983f"]]},{"id":"d0068668.598bc8","type":"comment","z":"c03efeff.392ae","name":"Display","info":"1: 선택한 기기 config\n2: 메뉴의 환경설정\n3: main  기기 리스트 모니터링\n4: 메뉴얼","x":94,"y":280,"wires":[]},{"id":"31b03a90.363356","type":"function","z":"c03efeff.392ae","name":"get global","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nmsg.payload.act=global.get(\"act\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":260,"wires":[["286cbf94.8c7a8"]]},{"id":"286cbf94.8c7a8","type":"template","z":"c03efeff.392ae","name":"html 기기 name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n   <br> &emsp;\n   <table>\n      <tr>\n        <th>모델번호</th> <th>PE-300</th>\n      </tr>\n      <tr>\n        <th>mac</th> <th>{{{payload.mac}}}</th>\n      </tr>\n      <tr>\n        <th>접속IP</th> <th>{{{payload.ip}}}</th>\n      </tr>\n      <tr>\n        <th>이름</th> \n            <form action=\"/save\" method=\"post\">\n                <input type='hidden' name='mac' value='{{{payload.mac}}}'>\n                <input type='hidden' name='act' value='1'>\n                <th><input type=\"text\" id=\"name\" name=\"name\" value=\"{{{payload.name}}}\"></th>\n                <th><button class='button buttonL' type=\"submit\" style=\"width:50px;\" >저장</button></th>\n            </form> \n      </tr>\n    </table>\n    \n    테스트 입니다.\n</body>\n</html>\n","output":"str","x":1360,"y":260,"wires":[["64eca9.92d34358"]]},{"id":"389ae243.543c8e","type":"function","z":"c03efeff.392ae","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":260,"wires":[["6cb7b8f9.1722f8"]]},{"id":"6cb7b8f9.1722f8","type":"mongodb2 in","z":"c03efeff.392ae","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"기기 검색","collection":"","operation":"","x":910,"y":260,"wires":[["6c803881.de0528"]]},{"id":"64eca9.92d34358","type":"http response","z":"c03efeff.392ae","name":"","statusCode":"","headers":{},"x":1530,"y":260,"wires":[]},{"id":"2c418081.f983f","type":"function","z":"c03efeff.392ae","name":"","func":"global.set(\"msg_display\",msg);\nglobal.set(\"act\",msg.payload.act);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["819ce183.39571"]]},{"id":"6c803881.de0528","type":"function","z":"c03efeff.392ae","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_display\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":260,"wires":[["31b03a90.363356"]]},{"id":"819ce183.39571","type":"switch","z":"c03efeff.392ae","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":280,"wires":[["389ae243.543c8e"],["ff1312bf.f178f"],["14722be2.763e24"],["29519bd6.7c2374"]]},{"id":"6e5683ca.1f4f6c","type":"http in","z":"c03efeff.392ae","name":"","url":"/save","method":"post","upload":false,"swaggerDoc":"","x":270,"y":520,"wires":[["32389083.97df4"]]},{"id":"b139bb6c.8648b8","type":"comment","z":"c03efeff.392ae","name":"Save","info":"1: name 저장\n","x":94,"y":520,"wires":[]},{"id":"7fe55351.6c2eec","type":"function","z":"c03efeff.392ae","name":"findOneUpdate","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac}, {$set:{ 'name':msg.payload.name}} ];\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":500,"wires":[["7f357d64.54aed4"]]},{"id":"7f357d64.54aed4","type":"mongodb2 in","z":"c03efeff.392ae","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록 name","collection":"","operation":"","x":730,"y":500,"wires":[["1f960a19.b21676"]]},{"id":"6ccba8d8.ca4188","type":"link out","z":"c03efeff.392ae","name":"","links":["82e3e3e0.cf047","2044220.61e99de"],"x":975,"y":500,"wires":[]},{"id":"1f960a19.b21676","type":"function","z":"c03efeff.392ae","name":"msg 받음","func":"var msg=global.get(\"msg_in\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":500,"wires":[["6ccba8d8.ca4188"]]},{"id":"32389083.97df4","type":"switch","z":"c03efeff.392ae","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":520,"wires":[["7fe55351.6c2eec"],[],[]]},{"id":"21264391.529b2c","type":"template","z":"c03efeff.392ae","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://{{payload.internalIPv4}}:1880/display?act=3' method='get'> \n    </head>\n    <body>\n       </body>\n</html","output":"str","x":1350,"y":160,"wires":[["9b8da75a.037d58"]]},{"id":"9b8da75a.037d58","type":"http response","z":"c03efeff.392ae","name":"Go Main Page","statusCode":"","headers":{},"x":1502,"y":160,"wires":[]},{"id":"82e3e3e0.cf047","type":"link in","z":"c03efeff.392ae","name":"Main","links":["6457ed09.277674","1f045d85.6a9eb2","250eafef.fdf1f","68a5f2a5.f5958c","d1b3b938.5fd1b8","425e599b.c1d808","174175dc.9ef7ea","55f345c.57c60bc"],"x":1259,"y":160,"wires":[["21264391.529b2c"]]},{"id":"55f345c.57c60bc","type":"link out","z":"c03efeff.392ae","name":"","links":["82e3e3e0.cf047"],"x":1075,"y":160,"wires":[]},{"id":"4303e810.d095b8","type":"template","z":"c03efeff.392ae","name":"html 환경설정","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    환경설정 <br>\n    센서와 기기를 서버에 연결하려면 아래 버튼을 누르세요\n    <form action=\"/act\" method=\"post\">\n        <input type='hidden' name='act' value='1'>\n        <div class=\"container\">\n            <br> &emsp;\n            <button class='button buttonL' type=\"submit\" style=\"width:auto;\">- mqtt 통신연결 -</button>\n        </div>\n    </form>\n\n</body>\n</html>\n","output":"str","x":920,"y":320,"wires":[["418bd27a.d3880c"]]},{"id":"ff1312bf.f178f","type":"function","z":"c03efeff.392ae","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":320,"wires":[["4303e810.d095b8"]]},{"id":"418bd27a.d3880c","type":"http response","z":"c03efeff.392ae","name":"","statusCode":"","headers":{},"x":1087,"y":320,"wires":[]},{"id":"e6302a.ba8f5fd8","type":"template","z":"c03efeff.392ae","name":"html 메뉴얼","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    메뉴얼\n\n</body>\n</html>\n","output":"str","x":890,"y":420,"wires":[["922e8777.a04228"]]},{"id":"29519bd6.7c2374","type":"function","z":"c03efeff.392ae","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":420,"wires":[["e6302a.ba8f5fd8"]]},{"id":"922e8777.a04228","type":"http response","z":"c03efeff.392ae","name":"","statusCode":"","headers":{},"x":1067,"y":420,"wires":[]},{"id":"abcf0e5e.c7909","type":"comment","z":"c03efeff.392ae","name":"Act","info":"1: \n","x":90,"y":680,"wires":[]},{"id":"ad2ed3e9.d5dd3","type":"http in","z":"c03efeff.392ae","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":260,"y":680,"wires":[["c3cf77a9.e44c38"]]},{"id":"c3cf77a9.e44c38","type":"switch","z":"c03efeff.392ae","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":680,"wires":[["c9896c90.b4601"],[],[]]},{"id":"cb9f7748.589328","type":"ip","z":"c03efeff.392ae","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":270,"y":160,"wires":[["b406b46c.765ec8"]]},{"id":"b406b46c.765ec8","type":"function","z":"c03efeff.392ae","name":"","func":"var ipList=[];\nvar server=msg.payload.internalIPv4;\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["13e09daa.e33fb2"]]},{"id":"2c571e5c.055fc2","type":"mqtt-broker","name":"","broker":"192.168.0.3","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"83df0a8f.8fa7e8","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"8364b0aa.ebd7e","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"509a45a9.089bbc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"ea1ef80b73-certificate.pem.crt","keyname":"ea1ef80b73-private.pem.key","caname":"MtesCA.pem","servername":"","verifyservercert":true}]