11-2-4 sensecube PE-300 aws/11-2-4 node red.txt
[{"id":"7fe54548.d172ec","type":"mqtt in","z":"c0d5bcb4.0c94d","name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"890be068.06b54","nl":false,"rap":true,"rh":0,"x":180,"y":100,"wires":[["648a062.e5bacf8","549b3be4.423664"]]},{"id":"648a062.e5bacf8","type":"debug","z":"c0d5bcb4.0c94d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"18f6163c.bc286a","type":"function","z":"c0d5bcb4.0c94d","name":"","func":"var ecMsg={};\nvar phMsg={};\nvar teMsg3={};\necMsg.payload=msg.payload.ec;\nphMsg.payload=msg.payload.ph;\nteMsg3.payload=msg.payload.temp;\n\nreturn [ecMsg,phMsg,teMsg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":160,"wires":[["c16d359d.b77178"],["1ba04b1.6a5c1b5"],["a1790daa.9d005"]]},{"id":"c16d359d.b77178","type":"ui_text","z":"c0d5bcb4.0c94d","group":"5f4568ac.3e1278","order":1,"width":0,"height":0,"name":"EC","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":140,"wires":[]},{"id":"1ba04b1.6a5c1b5","type":"ui_gauge","z":"c0d5bcb4.0c94d","name":"PH","group":"5f4568ac.3e1278","order":2,"width":0,"height":0,"gtype":"gage","title":"PH","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":180,"wires":[]},{"id":"a1790daa.9d005","type":"ui_chart","z":"c0d5bcb4.0c94d","name":"온도","group":"5f4568ac.3e1278","order":3,"width":0,"height":0,"label":"온도","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":220,"wires":[[]]},{"id":"549b3be4.423664","type":"json","z":"c0d5bcb4.0c94d","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["18f6163c.bc286a"]]},{"id":"9cbd4b68.c8e508","type":"mqtt out","z":"c0d5bcb4.0c94d","name":"","topic":"/i2r/inTopic","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"890be068.06b54","x":410,"y":260,"wires":[]},{"id":"f573c8e1.819c98","type":"inject","z":"c0d5bcb4.0c94d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"테스트","payloadType":"str","x":220,"y":260,"wires":[["9cbd4b68.c8e508"]]},{"id":"890be068.06b54","type":"mqtt-broker","name":"","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"daecc2e2.b6a42","clientid":"","usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5f4568ac.3e1278","type":"ui_group","name":"토마토","tab":"baf5e69.0c21c18","order":1,"disp":true,"width":"6","collapse":false},{"id":"daecc2e2.b6a42","type":"tls-config","name":"3Phase","cert":"","key":"","ca":"","certname":"94191b3ef7-certificate.pem.crt","keyname":"94191b3ef7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"baf5e69.0c21c18","type":"ui_tab","name":"스마트팜","icon":"dashboard","order":1,"disabled":false,"hidden":false}]