11-7 DHT11 Temperatur Humidity/11-7 node red local sever.txt
[{"id":"10a86fdc.efc16","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"8709b651.7ce108"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"8709b651.7ce108","port":0}]},{"x":455,"y":259,"wires":[{"id":"8709b651.7ce108","port":1}]}]},{"id":"8709b651.7ce108","type":"function","z":"10a86fdc.efc16","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"99b4b91d.186bf8","type":"mqtt in","z":"887768d1.35a068","name":"","topic":"/i2r/outTopic","qos":"0","datatype":"auto","broker":"f15d66b3.c7edf8","nl":false,"rap":true,"rh":0,"x":270,"y":700,"wires":[["4cd3d86f.523c08"]]},{"id":"ce2a2dd5.80bcc","type":"subflow:10a86fdc.efc16","z":"887768d1.35a068","name":"Iterate","env":[],"x":870,"y":580,"wires":[["98418b6a.bc6468","27b394e1.32a40c"],[]]},{"id":"27b394e1.32a40c","type":"function","z":"887768d1.35a068","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":868,"y":520,"wires":[["ce2a2dd5.80bcc"]]},{"id":"ad85bc7.785404","type":"udp out","z":"887768d1.35a068","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1334,"y":576,"wires":[]},{"id":"98418b6a.bc6468","type":"function","z":"887768d1.35a068","name":"","func":"var server=msg.server;\nvar newMsg={};\nnewMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\nnewMsg.ip=msg.payload;\nnewMsg.port=4210;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1041,"y":578,"wires":[["60fd1de5.680b24"]]},{"id":"60fd1de5.680b24","type":"change","z":"887768d1.35a068","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195,"y":577,"wires":[["ad85bc7.785404"]]},{"id":"34e0ed99.832db2","type":"function","z":"887768d1.35a068","name":"","func":"var ipList=[];\nvar server=msg.payload.internalIPv4;\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\n\nmsg.server=server;\nfor(var i=0;i<255;i++)\n    ipList.push(ip+i);\nmsg.payload=ipList;\nreturn msg;\n\n\n/*\nvar newMsg={};\nfor(var i=0;i<5;i++) {\n    newMsg.payload=\"{\\\"mqttIp\\\":\\\"\"+server+\"\\\"}\";\n    newMsg.port=4210;\n    newMsg.ip=ip+i;\n    //ipList.push(ip+i);\n    ipList.push(newMsg);\n}\nmsg.payload=ipList;\nreturn msg;\n*/\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":580,"wires":[["ce2a2dd5.80bcc"]]},{"id":"ff92db57.1e6f78","type":"function","z":"887768d1.35a068","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac, 'type':msg.payload.type};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":700,"wires":[["cbbf1c01.cedf7"]]},{"id":"cbbf1c01.cedf7","type":"mongodb2 in","z":"887768d1.35a068","service":"_ext_","configNode":"ff55d734.a9cd28","name":"기기 검색","collection":"","operation":"","x":700,"y":700,"wires":[["2def2c34.57f354"]]},{"id":"2def2c34.57f354","type":"switch","z":"887768d1.35a068","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":700,"wires":[["81959cd0.0a2a1"],["77c21f5.0b844e"]]},{"id":"81959cd0.0a2a1","type":"function","z":"887768d1.35a068","name":"insert one","func":"var msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : msg.payload.email,'type':msg.payload.type,'mac':msg.payload.mac,'ip':msg.payload.ip, 'name':''};\nnewMsg.payload.mac = msg.payload.mac;\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":972,"y":687,"wires":[["7ce043a1.b86a3c"]]},{"id":"7ce043a1.b86a3c","type":"mongodb2 in","z":"887768d1.35a068","service":"_ext_","configNode":"ff55d734.a9cd28","name":"등록","collection":"","operation":"","x":1150,"y":688,"wires":[[]]},{"id":"77c21f5.0b844e","type":"function","z":"887768d1.35a068","name":"findOneUpdate","func":"var time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar msg=global.get(\"msg_in\")||\"\";\nvar newMsg = {};\n\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nif(msg.payload.type==2)\n    newMsg.payload = [{ 'mac' : msg.payload.mac,'type':msg.payload.type}, {$set:{ 'ec':msg.payload.ec, 'ph':msg.payload.ph, 'temp':msg.payload.temp, 'time':time}} ];\nelse if(msg.payload.type==6)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'in.0':msg.payload.in.charAt(0), 'in.1':msg.payload.in.charAt(1)\n    , 'in.2':msg.payload.in.charAt(2), 'in.3':msg.payload.in.charAt(3), 'in.4':msg.payload.in.charAt(4), 'in.5':msg.payload.in.charAt(5)\n    , 'in.6':msg.payload.in.charAt(6), 'in.7':msg.payload.in.charAt(7), 'time':time\n     }} ];\nelse if(msg.payload.type==7)\n    newMsg.payload = [{'mac': msg.payload.mac,'type':msg.payload.type}, {$set:{ 'humi':msg.payload.humi\n    , 'temp':msg.payload.temp, 'time':time }} ];\n\n\n\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\n\n//newMsg.payload=String(msg.payload.in).charAt(0);\n//newMsg.payload=msg.payload.in.charAt(0);\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":740,"wires":[["7ce043a1.b86a3c"]]},{"id":"4cd3d86f.523c08","type":"json","z":"887768d1.35a068","name":"","property":"payload","action":"","pretty":false,"x":417,"y":700,"wires":[["ff92db57.1e6f78"]]},{"id":"cd31f70d.6f24a8","type":"ip","z":"887768d1.35a068","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":570,"y":580,"wires":[["34e0ed99.832db2"]]},{"id":"c4790480.704f68","type":"http in","z":"887768d1.35a068","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["f3c7b0d1.0c23d"]]},{"id":"a876444b.1331a8","type":"template","z":"887768d1.35a068","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {\n    background: #eab0dc;\n    font-family: Arial, Helvetica, sans-serif;\n}\ntable, th, td {\n    padding: 2px;\n    border-collapse: collapse;\n    border: 1px solid #dddddd;\n}\n\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 150px;\n  padding: 5px 10px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n}\n\n.buttonMenu {\n          padding: 5px 24px;\n          margin-left:20%;\n          background-color:black;\n          border: none;\n          border-color:black;\n          color:white;\n          text-align: left;\n          text-decoration: none;\n          display: inline-block;\n          font-size: 16px;\n          margin: 4px 2px;\n          cursor: pointer;\n        }\n        .sidenav {\n          height: 100%;\n          width: 0;\n          position: fixed;\n          z-index: 1;\n          top: 0;\n          left: 0;\n          background-color: #111;\n          overflow-x: hidden;\n          transition: 0.5s;\n          padding-top: 60px;\n        }\n        .sidenav a {\n          padding: 8px 8px 8px 32px;\n          text-decoration: none;\n          font-size: 18px;\n          color: #818181;\n          display: block;\n                transition: 0.3s;\n        }\n        .sidenav a:hover {\n          color: #f1f1f1;\n        }\n        .sidenav .closebtn {\n          position: absolute;\n          top: 0;\n          right: 25px;\n          font-size: 36px;\n          margin-left: 50px;\n        }\n\n.buttonM {background-color: #ff66cc;color:white; width:100px; height:20px; padding: 0px 0px; font-size: 16px} /* 기기선택 */  \n.buttonL {background-color: #ff66cc;color:white; width:100px; height:25px; padding: 0px 0px; font-size: 16px} /* 선택 */  \n.buttonMenu {background-color: #000000;} \n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.button-on {background-color:Lime; color:blue; width:20%;} \n.button-off {background-color:LightGrey; color:white; width:20%;} \n.button-ledon {border-radius: 100%; padding: 10px; font-size: 8px; margin: 0px 0px; background-color: #ff4500;}\n.button-ledoff {border-radius: 100%; padding: 10px; font-size: 8px; background-color: #707070;}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":690,"y":60,"wires":[["ca118363.98717"]]},{"id":"5e5af065.4cb21","type":"template","z":"887768d1.35a068","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n        \n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n\nfunction openNav() {\n  document.getElementById(\"mySidenav\").style.width = \"150px\"; \n}\nfunction closeNav() {\n  document.getElementById(\"mySidenav\").style.width = \"0\";\n}","output":"str","x":565,"y":60,"wires":[["a876444b.1331a8"]]},{"id":"25fa0fa8.8787","type":"function","z":"887768d1.35a068","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nglobal.set(\"menu\",msg.payload.menu);\nglobal.set(\"msg_main\",msg);\n/*\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = {  };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":961,"y":60,"wires":[["ac524b95.197918"]]},{"id":"ca118363.98717","type":"template","z":"887768d1.35a068","name":"menu","field":"payload.menu","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div id='mySidenav' class='sidenav'>\n  <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>&times;</a>\n  <a href='/display?act=3'>홈</a>\n  <a href='/display?act=2'>환경설정</a>\n  <a href='/display?act=4'>메뉴얼</a>\n  <a href='http://i2r.link' target='_blank'>김동일홈피</a>\n  </div>\n  <span style='font-size:30px;cursor:pointer' onclick='openNav()'>&#9776; </span>\n    메뉴<br>  ","x":810,"y":60,"wires":[["25fa0fa8.8787"]]},{"id":"d6410a73.7fa1d8","type":"function","z":"887768d1.35a068","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nmsg.collection = 'localRecord';\nmsg.operation  =  'find.toArray';\nmsg.payload    = { };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":260,"wires":[["85cf5533.b9d518"]]},{"id":"85cf5533.b9d518","type":"mongodb2 in","z":"887768d1.35a068","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"local","collection":"","operation":"","x":890,"y":260,"wires":[["4040905.70c457"]]},{"id":"30e8d6c7.9c57ea","type":"http response","z":"887768d1.35a068","name":"","statusCode":"","headers":{},"x":1510,"y":260,"wires":[]},{"id":"7cfeb66.c894248","type":"function","z":"887768d1.35a068","name":"0,1,2,3 List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nvar i;\nvar s;\nvar r;\nsOut=\"<table>\"\nsOut+=\"<tr>   <th>모델</th>  <th>모니터링</th> <th>이름</th> <th>IP</th> </tr>\"\nfor(i=0;i<msg.payload.length;i++) {\n    //r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    s=\"\";\n    if(msg.payload[i].type==2) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>PE-300</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>ec:\"+msg.payload[i].ec+\"  ph:\"+msg.payload[i].ph+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    if(msg.payload[i].type==6) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>XEX-DR14E</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>\"\n            for(var j=0;j<8;j++) {\n                if(msg.payload[i].in[j]==1) \n                    s+=\"<button class='button button-ledon'>\"+j+\"</button>&nbsp;\";\n                else\n                    s+=\"<button class='button button-ledoff'>\"+j+\"</button>&nbsp;\";\n            }\n\n        s+=\"</td>\";\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    if(msg.payload[i].type==7) {\n        s+=\"<tr><td>\";\n        s+=\"<form action='/display'>\";\n            s+=\"<input type='hidden' name='mac' value='\"+msg.payload[i].mac+\"'>\";\n            s+=\"<input type='hidden' name='act' value='1'>\";\n            s+=\"<button type='submit' name='value' value='0' class='button buttonM'>DHT11</button></a>\";\n        s+=\"</form>\";\n        s+=\"</td>\";\n        s+=\"<td>습도:\"+msg.payload[i].humi+\"  온도:\"+msg.payload[i].temp+\"</td> \"\n        s+=\"<td>\"+msg.payload[i].name+\"</td>\";\n    }\n    s+=\"<td><a href='http://\"+msg.payload[i].ip+\"' target='_blank'>\"+msg.payload[i].ip+\"</a></td>\";\n    s+=\"</tr>\"\n    \n    sOut=sOut+s+\"<br>\";\n} \n\nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":260,"wires":[["81f1c56e.2bd4e8"]]},{"id":"81f1c56e.2bd4e8","type":"template","z":"887768d1.35a068","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta http-equiv='refresh' content='10'/>\n<style> {{{payload.style}}} </style>\n<script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    {{{payload.list}}}\n</body>\n</html>","output":"str","x":1360,"y":260,"wires":[["30e8d6c7.9c57ea"]]},{"id":"4040905.70c457","type":"function","z":"887768d1.35a068","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":260,"wires":[["7cfeb66.c894248"]]},{"id":"a89c2c5b.2aa96","type":"http in","z":"887768d1.35a068","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":270,"y":180,"wires":[["96bff938.461038"]]},{"id":"9f8d7e66.8a8d3","type":"comment","z":"887768d1.35a068","name":"Display","info":"1: 선택한 기기 config\n2: 메뉴의 환경설정\n3: main  기기 리스트 모니터링\n4: 메뉴얼","x":94,"y":180,"wires":[]},{"id":"a45a2d26.f26f3","type":"function","z":"887768d1.35a068","name":"get global","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nmsg.payload.act=global.get(\"act\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":160,"wires":[["1cc6024f.05d38e"]]},{"id":"1cc6024f.05d38e","type":"template","z":"887768d1.35a068","name":"html 기기 name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n   <br> &emsp;\n   <table>\n      <tr>\n        <th>모델번호</th> <th>PE-300</th>\n      </tr>\n      <tr>\n        <th>mac</th> <th>{{{payload.mac}}}</th>\n      </tr>\n      <tr>\n        <th>접속IP</th> <th>{{{payload.ip}}}</th>\n      </tr>\n      <tr>\n        <th>이름</th> \n            <form action=\"/save\" method=\"post\">\n                <input type='hidden' name='mac' value='{{{payload.mac}}}'>\n                <input type='hidden' name='act' value='1'>\n                <th><input type=\"text\" id=\"name\" name=\"name\" value=\"{{{payload.name}}}\"></th>\n                <th><button class='button buttonL' type=\"submit\" style=\"width:50px;\" >저장</button></th>\n            </form> \n      </tr>\n    </table>\n    \n    테스트 입니다.\n</body>\n</html>\n","output":"str","x":1360,"y":160,"wires":[["c6aff416.2e15a8"]]},{"id":"7ab937f.68151c8","type":"function","z":"887768d1.35a068","name":"findOne","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'mac' : msg.payload.mac};\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":160,"wires":[["cbfe63a1.5bffe"]]},{"id":"cbfe63a1.5bffe","type":"mongodb2 in","z":"887768d1.35a068","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"기기 검색","collection":"","operation":"","x":910,"y":160,"wires":[["d2789304.fef38"]]},{"id":"c6aff416.2e15a8","type":"http response","z":"887768d1.35a068","name":"","statusCode":"","headers":{},"x":1530,"y":160,"wires":[]},{"id":"96bff938.461038","type":"function","z":"887768d1.35a068","name":"","func":"global.set(\"msg_display\",msg);\nglobal.set(\"act\",msg.payload.act);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["c8f09d18.a6ba5"]]},{"id":"d2789304.fef38","type":"function","z":"887768d1.35a068","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_display\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":160,"wires":[["a45a2d26.f26f3"]]},{"id":"c8f09d18.a6ba5","type":"switch","z":"887768d1.35a068","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":180,"wires":[["7ab937f.68151c8"],["676805be.b73abc"],["d6410a73.7fa1d8"],["43d9637b.e2afec"]]},{"id":"95abe91e.b228f8","type":"http in","z":"887768d1.35a068","name":"","url":"/save","method":"post","upload":false,"swaggerDoc":"","x":270,"y":420,"wires":[["367a286.186f2d8"]]},{"id":"d27efb1e.78c428","type":"comment","z":"887768d1.35a068","name":"Save","info":"1: name 저장\n","x":94,"y":420,"wires":[]},{"id":"2a7c92dc.28c96e","type":"function","z":"887768d1.35a068","name":"findOneUpdate","func":"global.set(\"msg_in\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac}, {$set:{ 'name':msg.payload.name}} ];\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["a9b736a3.c08f98"]]},{"id":"a9b736a3.c08f98","type":"mongodb2 in","z":"887768d1.35a068","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록 name","collection":"","operation":"","x":750,"y":400,"wires":[["b35947d1.078b08"]]},{"id":"f2b32ee2.fee37","type":"link out","z":"887768d1.35a068","name":"","links":["8e0e3d7e.a580b","2044220.61e99de"],"x":995,"y":400,"wires":[]},{"id":"b35947d1.078b08","type":"function","z":"887768d1.35a068","name":"msg 받음","func":"var msg=global.get(\"msg_in\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":400,"wires":[["f2b32ee2.fee37"]]},{"id":"367a286.186f2d8","type":"switch","z":"887768d1.35a068","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":420,"wires":[["2a7c92dc.28c96e"],[],[]]},{"id":"d92942d2.56d5f","type":"template","z":"887768d1.35a068","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://{{payload.internalIPv4}}:1880/display?act=3' method='get'> \n    </head>\n    <body>\n       </body>\n</html","output":"str","x":1490,"y":60,"wires":[["e83ea064.f81ba"]]},{"id":"e83ea064.f81ba","type":"http response","z":"887768d1.35a068","name":"Go Main Page","statusCode":"","headers":{},"x":1642,"y":60,"wires":[]},{"id":"8e0e3d7e.a580b","type":"link in","z":"887768d1.35a068","name":"Main","links":["6457ed09.277674","1f045d85.6a9eb2","250eafef.fdf1f","68a5f2a5.f5958c","d1b3b938.5fd1b8","425e599b.c1d808","174175dc.9ef7ea","ac524b95.197918","f2b32ee2.fee37"],"x":1259,"y":60,"wires":[["fec104cf.fbc018"]]},{"id":"ac524b95.197918","type":"link out","z":"887768d1.35a068","name":"","links":["8e0e3d7e.a580b"],"x":1075,"y":60,"wires":[]},{"id":"f0bab7a5.dce5d8","type":"template","z":"887768d1.35a068","name":"html 환경설정","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    환경설정 <br>\n    센서와 기기를 서버에 연결하려면 아래 버튼을 누르세요\n    <form action=\"/act\" method=\"post\">\n        <input type='hidden' name='act' value='1'>\n        <div class=\"container\">\n            <br> &emsp;\n            <button class='button buttonL' type=\"submit\" style=\"width:auto;\">- mqtt 통신연결 -</button>\n        </div>\n    </form>\n\n</body>\n</html>\n","output":"str","x":940,"y":220,"wires":[["14b335f9.63beaa"]]},{"id":"676805be.b73abc","type":"function","z":"887768d1.35a068","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":220,"wires":[["f0bab7a5.dce5d8"]]},{"id":"14b335f9.63beaa","type":"http response","z":"887768d1.35a068","name":"","statusCode":"","headers":{},"x":1107,"y":220,"wires":[]},{"id":"eaf96d32.59cfc","type":"template","z":"887768d1.35a068","name":"html 메뉴얼","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <style> {{{payload.style}}} </style>\n        <script> {{{payload.script}}} </script>\n</head>\n<body>\n   {{{payload.menu}}} \n    메뉴얼\n\n</body>\n</html>\n","output":"str","x":890,"y":320,"wires":[["d47fe4fa.eafc78"]]},{"id":"43d9637b.e2afec","type":"function","z":"887768d1.35a068","name":"Config","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nmsg.payload.menu=global.get(\"menu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":320,"wires":[["eaf96d32.59cfc"]]},{"id":"d47fe4fa.eafc78","type":"http response","z":"887768d1.35a068","name":"","statusCode":"","headers":{},"x":1067,"y":320,"wires":[]},{"id":"5922139d.b09ddc","type":"comment","z":"887768d1.35a068","name":"Act","info":"1: \n","x":90,"y":580,"wires":[]},{"id":"5b3ca5ad.66ec3c","type":"http in","z":"887768d1.35a068","name":"","url":"/act","method":"post","upload":false,"swaggerDoc":"","x":260,"y":580,"wires":[["39ee203.fd0b6e"]]},{"id":"39ee203.fd0b6e","type":"switch","z":"887768d1.35a068","name":"","property":"payload.act","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":580,"wires":[["cd31f70d.6f24a8"],[],[]]},{"id":"f3c7b0d1.0c23d","type":"ip","z":"887768d1.35a068","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":270,"y":60,"wires":[["6afbb80a.bf2fc8"]]},{"id":"6afbb80a.bf2fc8","type":"function","z":"887768d1.35a068","name":"","func":"var server=msg.payload.internalIPv4;\nglobal.set(\"serverIp\",server);\nvar a=server.split('.');\nvar ip=a[0]+'.'+a[1]+'.'+a[2]+'.';\nmsg.server=server;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["5e5af065.4cb21"]]},{"id":"fec104cf.fbc018","type":"function","z":"887768d1.35a068","name":"","func":"var serverIp=global.get(\"serverIp\");\nmsg.payload.internalIPv4=serverIp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":60,"wires":[["d92942d2.56d5f"]]},{"id":"f15d66b3.c7edf8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ff55d734.a9cd28","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"8364b0aa.ebd7e","type":"mongodb2","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"509a45a9.089bbc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"ea1ef80b73-certificate.pem.crt","keyname":"ea1ef80b73-private.pem.key","caname":"MtesCA.pem","servername":"","verifyservercert":true}]